<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Hipre - HYIP Investment Website HTML5 Template</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Stylesheets List -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/owl.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/odometer.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>


<!-- Boxed Wrapper -->

<body>

    <div class="boxed_wrapper">


        <!-- Preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader End -->


        <!-- Main Header -->
        <header class="main-header header-two">
            <div class="outer-container">
                <div class="outer-box">
                    <div class="logo-box">
                        <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                    </div>
                    <div class="menu-area">
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                            <i class="icon-bar"></i>
                        </div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Homepage 01</a></li>
                                            <li><a href="index-2.html">Homepage 02</a></li>
                                            <li><a href="index-3.html">Homepage 03</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Pages</a>
                                        <ul>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="signup.html">Sign Up</a></li>
                                            <li><a href="signin.html">Sign In</a></li>
                                            <li><a href="forget-password.html">Forget Password</a></li>
                                            <li><a href="dashboard.html">Dashboard One</a></li>
                                            <li><a href="dashboard-2.html">Dashboard Two</a></li>
                                            <li><a href="referral-link.html">Referral Link</a></li>
                                            <li><a href="pricing-2.html">Pricing Plan</a></li>
                                            <li><a href="profile.html">Profile Details</a></li>
                                            <li><a href="change-password.html">Change Password</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Services</a>
                                        <ul>
                                            <li><a href="service.html">Our Services</a></li>
                                            <li><a href="service-details.html">Investment Plans</a></li>
                                            <li><a href="service-details-2.html">Portfolio Management</a></li>
                                            <li><a href="service-details-3.html">Risk Analysis</a></li>
                                            <li><a href="service-details-4.html">Security Features</a></li>
                                            <li><a href="service-details-5.html">Withdrawal Services</a></li>
                                            <li><a href="service-details-6.html">Referral Programs</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Our Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="btn-box"><a href="index.html">Get Started</a></div>
                </div>
            </div>

            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box">
                        <div class="logo-box">
                            <figure class="logo"><a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                            </figure>
                        </div>
                        <div class="menu-area">
                            <nav class="main-menu">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <div class="btn-box"><a href="index.html">Get Started</a></div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Header End -->


        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
            </nav>
        </div>
        <!-- End Mobile Menu -->


        <!-- Banner Section -->
        <section class="banner-two home-three-banner text-center">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-63.png);"></div>
                <div class="pattern-4 zoom-fade" style="background-image: url(assets/images/shape/shape-65.png);"></div>
                <div class="pattern-5 zoom-fade" style="background-image: url(assets/images/shape/shape-66.png);"></div>
                <div class="pattern-6 zoom-fade" style="background-image: url(assets/images/shape/shape-67.png);"></div>
                <div class="pattern-7" style="background-image: url(assets/images/shape/shape-68.png);"></div>
                <div class="pattern-8 zoom-fade" style="background-image: url(assets/images/shape/shape-69.png);"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="sub-title-two"><span>Secure</span> Trusted Investment</div>
                    <h2>Navigating the HYPE <br />Experience</h2>
                    <div class="btn-box">
                        <a href="index-3.html" class="theme-btn"><span>Get Started</span></a>
                        <a href="https://youtube.com/shorts/CWUvP0iYYOc?si=cO4gB16q6hY766XC&amp;t=28s"
                            class="lightbox-image video-btn" data-caption=""><i class="icon-3"></i></a>
                    </div>
                </div>
                <div class="lower-content">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="pricing-block-three">
                                <span class="text">Hourly</span>
                                <h2>7 <span>%</span></h2>
                                <ul class="list-text">
                                    <li>Min: 300 USD</li>
                                    <li>Max: 1000 USD</li>
                                </ul>
                                <span class="status">Forever</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="pricing-block-three">
                                <span class="text">Hourly</span>
                                <h2>50 <span>%</span></h2>
                                <ul class="list-text">
                                    <li>Min: 300 USD</li>
                                    <li>Max: 1000 USD</li>
                                </ul>
                                <span class="status">Forever</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="pricing-block-three">
                                <span class="text">Hourly</span>
                                <h2>117 <span>%</span></h2>
                                <ul class="list-text">
                                    <li>Min: 300 USD</li>
                                    <li>Max: 1000 USD</li>
                                </ul>
                                <span class="status">After 5 Days</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="pricing-block-three">
                                <span class="text">Hourly</span>
                                <h2>207 <span>%</span></h2>
                                <ul class="list-text">
                                    <li>Min: 300 USD</li>
                                    <li>Max: 1000 USD</li>
                                </ul>
                                <span class="status">After 30 Days</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->


        <!-- Funfact Three -->
        <section class="funfact-three">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="text-box">
                            <h2>Over 100+ Company Truested Us</h2>
                            <p>Offer various investment plans with our different <br />durations and expected percentage
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="funfact-block">
                            <div class="count-outer">
                                <span class="odometer" data-count="99">00</span><span class="symble">%</span>
                            </div>
                            <div class="funfact-text">
                                <div class="icon-box"><img src="assets/images/icons/icon-61.svg" alt=""></div>
                                <p>Customer satisfaction</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="funfact-block">
                            <div class="count-outer">
                                <span class="odometer" data-count="240">00</span><span class="symble">%</span>
                            </div>
                            <div class="funfact-text">
                                <div class="icon-box"><img src="assets/images/icons/icon-62.svg" alt=""></div>
                                <p>Investment growth</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Funfact Three End -->


        <!-- Clients Section -->
        <section class="clients-two home-three-clients">
            <div class="auto-container">
                <ul class="clients-list">
                    <li><a href="index-2.html"><img src="assets/images/clients/clients-10.png" alt=""></a></li>
                    <li><a href="index-2.html"><img src="assets/images/clients/clients-11.png" alt=""></a></li>
                    <li><a href="index-2.html"><img src="assets/images/clients/clients-12.png" alt=""></a></li>
                    <li><a href="index-2.html"><img src="assets/images/clients/clients-13.png" alt=""></a></li>
                    <li><a href="index-2.html"><img src="assets/images/clients/clients-14.png" alt=""></a></li>
                </ul>
            </div>
        </section>
        <!-- Clients Section End -->


        <!-- Service Three -->
        <section class="service-three">
            <div class="auto-container">
                <div class="section-title text-center">
                    <span class="sub-title-two">Our Services</span>
                    <h2>Our Advisory Services</h2>
                </div>
                <div class="inner-container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-9.png" alt=""></div>
                                    <h3><a href="service-details.html">Investment Plans</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-10.png" alt=""></div>
                                    <h3><a href="service-details-2.html">Portfolio Management</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-11.png" alt=""></div>
                                    <h3><a href="service-details-3.html">Risk Analysis</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-12.png" alt=""></div>
                                    <h3><a href="service-details-4.html">Security Features</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-13.png" alt=""></div>
                                    <h3><a href="service-details-5.html">Withdrawal Services</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                            <div class="service-block-three">
                                <div class="inner-box">
                                    <div class="icon-box"><img src="assets/images/icons/icon-14.png" alt=""></div>
                                    <h3><a href="service-details-6.html">Referral Programs</a></h3>
                                    <p>Suspendisse nibh sapien, ultricies ac purus vel, eleifend commodo tortor. Nam sed
                                        htfk tempor sapien. Interdum et </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Three End -->


        <!-- About Two -->
        <section class="about-two">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-70.png);"></div>
            <div class="auto-container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-12 col-sm-12">
                        <div class="image-box">
                            <div class="image-shape">
                                <div class="shape-1" style="background-image: url(assets/images/shape/shape-71.png);">
                                </div>
                                <div class="shape-2" style="background-image: url(assets/images/shape/shape-72.png);">
                                </div>
                            </div>
                            <figure class="image"><img src="assets/images/resource/about-1.png" alt=""></figure>
                            <div class="experience-box">
                                <p><span>15</span> Years of experience</p>
                            </div>
                            <div class="success-box">
                                <span>99%</span>
                                <p>Rate of success</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="content-box">
                            <div class="section-title">
                                <span class="sub-title-two">About Us</span>
                                <h2>Proven Track Record of Success</h2>
                            </div>
                            <div class="text-box">
                                <p>Mauris dictum massa non consectetur volutpat. Sed id accumsan risus, eget sagittis
                                    lectus. Donec ut est mauris Etiam et libero tellus. Suspendisse.</p>
                                <ul class="list-text clearfix">
                                    <li>Expertise</li>
                                    <li>Trusted Investments</li>
                                    <li>Results-Oriented</li>
                                    <li>Personalized Service</li>
                                </ul>
                            </div>
                            <div class="btn-box"><a href="about.html" class="theme-btn">More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Two End -->


        <!-- History Section -->
        <section class="history-section">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-49.png);"></div>
                <div class="pattern-3" data-parallax='{"x": -100}'
                    style="background-image: url(assets/images/shape/shape-4.png);"></div>
                <div class="pattern-4" data-parallax='{"x": 100}'
                    style="background-image: url(assets/images/shape/shape-9.png);"></div>
            </div>
            <div class="auto-container">
                <div class="section-title text-center">
                    <span class="sub-title-two">Last Investment</span>
                    <h2>Our Transaction History</h2>
                </div>
                <div class="tabs-box">
                    <div class="title-content">
                        <ul class="tab-btns tab-buttons shop-tab-btn">
                            <li class="tab-btn active-btn" data-tab="#tab-1">Deposit</li>
                            <li class="tab-btn" data-tab="#tab-2">Withdraw</li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="tab-1">
                            <div class="content-box">
                                <div class="history-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Person</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                                <th>Deposit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-1.png" alt=""></div>
                                                        <span class="name">Esther Howard</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-2.png" alt=""></div>
                                                        <span class="name">Darrell Steward</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-3.png" alt=""></div>
                                                        <span class="name">Cameron Williamson</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-4.png" alt=""></div>
                                                        <span class="name">Cody Fisher</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="tab-2">
                            <div class="content-box">
                                <div class="history-table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Person</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                                <th>Currency</th>
                                                <th>Deposit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-2.png" alt=""></div>
                                                        <span class="name">Darrell Steward</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-3.png" alt=""></div>
                                                        <span class="name">Cameron Williamson</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="author-box">
                                                        <div class="author-image"><img
                                                                src="assets/images/resource/author-4.png" alt=""></div>
                                                        <span class="name">Cody Fisher</span>
                                                    </div>
                                                </td>
                                                <td>Jan 21, 2024</td>
                                                <td>$1,00,000</td>
                                                <td>Dollar</td>
                                                <td>65 Days Ago</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History Section End -->


        <!-- Analysis Section -->
        <section class="analysis-section">
            <div class="auto-container">
                <div class="inner-box">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="section-title">
                                    <span class="sub-title-two">Profit Analysis</span>
                                    <h2>For increased profits, track your investments</h2>
                                </div>
                                <p>Mauris dictum massa non consectetur volutpat. Sed id accumsan risus, eget sagittis
                                    lectus. Donec ut est mauris Etiam et libero tellus. Suspendisse.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="currency-table">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-73.png);">
                                </div>
                                <div class="table-content">
                                    <ul class="clearfix">
                                        <li class="table-title clearfix">
                                            <span></span>
                                            <span>Price</span>
                                            <span>Change</span>
                                            <span>Volume (24h)</span>
                                        </li>
                                        <li class="data-box clearfix">
                                            <div class="single-box">
                                                <div class="icon"><img src="assets/images/icons/currency-1.png" alt="">
                                                </div>
                                                <h4>BTC</h4>
                                                <span>Bitcoin</span>
                                            </div>
                                            <span>$6750</span>
                                            <span class="change"><img src="assets/images/icons/icon-67.svg"
                                                    alt="">+7.3%</span>
                                            <span>$3420214</span>
                                        </li>
                                        <li class="data-box lower-currency clearfix">
                                            <div class="single-box">
                                                <div class="icon"><img src="assets/images/icons/currency-2.png" alt="">
                                                </div>
                                                <h4>ETH</h4>
                                                <span>Ethereum</span>
                                            </div>
                                            <span>$156.83</span>
                                            <span class="change"><img src="assets/images/icons/icon-68.svg"
                                                    alt="">-0.9%</span>
                                            <span>$1812350</span>
                                        </li>
                                        <li class="data-box clearfix">
                                            <div class="single-box">
                                                <div class="icon"><img src="assets/images/icons/currency-3.png" alt="">
                                                </div>
                                                <h4>LTC</h4>
                                                <span>Litecoin</span>
                                            </div>
                                            <span>$8535</span>
                                            <span class="change"><img src="assets/images/icons/icon-67.svg"
                                                    alt="">+8.2%</span>
                                            <span>$5820399</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-box">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="graph-box">
                                <div class="shape" style="background-image: url(assets/images/shape/shape-73.png);">
                                </div>
                                <div class="graph-inner">
                                    <div class="single-box">
                                        <div class="icon"><img src="assets/images/icons/currency-1.png" alt=""></div>
                                        <h3>Bitcoin <span>BTC</span></h3>
                                        <span class="text">0.00080 BTC</span>
                                    </div>
                                    <span class="percentage">+125%</span>
                                    <div class="graph-image"><img src="assets/images/icons/graph-1.png" alt=""></div>
                                </div>
                                <div class="box-one">
                                    <h4>Increase in Trade</h4>
                                    <h3>+75%<img src="assets/images/icons/icon-69.svg" alt=""></h3>
                                    <span>Sell</span>
                                </div>
                                <div class="box-two">
                                    <h3>$15.32</h3>
                                    <span>Price in dollar</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="content-box">
                                <div class="section-title">
                                    <span class="sub-title-two">Invest Analysis</span>
                                    <h2>Don't underestimate the power of investing</h2>
                                </div>
                                <p>Mauris dictum massa non consectetur volutpat. Sed id accumsan risus, eget sagittis
                                    lectus. Donec ut est mauris Etiam et libero tellus. and there is nothing
                                    suspendisse.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Analysis Section end -->


        <!-- Video Section -->
        <section class="video-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="video-inner" style="background-image: url(assets/images/resource/video-1.jpg);">
                        <a href="https://youtube.com/shorts/CWUvP0iYYOc?si=cO4gB16q6hY766XC&amp;t=28s"
                            class="lightbox-image video-btn" data-caption=""><img src="assets/images/icons/icon-64.svg"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Video Section End -->


        <!-- Pricing Section -->
        <section class="pricing-three">
            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-74.png);"></div>
            <div class="auto-container">
                <div class="section-title text-center">
                    <span class="sub-title-two">Our Pricing</span>
                    <h2>Choose Our Easy & <br />Suitable Price</h2>
                </div>
                <div class="pricing-table">
                    <ul class="table-content clearfix">
                        <li class="table-header clearfix">
                            <span class="feature"><strong>Features</strong></span>
                            <div class="single-item">
                                <h2>$100</h2>
                                <h3>Basic</h3>
                                <a href="index-3.html" class="theme-btn btn-one">Get started</a>
                            </div>
                            <div class="single-item">
                                <h2>$100</h2>
                                <h3>Basic</h3>
                                <a href="index-3.html" class="theme-btn btn-one">Get started</a>
                            </div>
                            <div class="single-item">
                                <h2>$100</h2>
                                <h3>Basic</h3>
                                <a href="index-3.html" class="theme-btn btn-one">Get started</a>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Returns</span>
                            <span class="data-text">Basic</span>
                            <span class="data-text">Intermediate</span>
                            <span class="data-text">Advanced</span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Accounts</span>
                            <span class="data-text">5 Business Account</span>
                            <span class="data-text">10 Business Account</span>
                            <span class="data-text">25 Business Account</span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Duration</span>
                            <span class="data-text">30 Days</span>
                            <span class="data-text">60 Days</span>
                            <span class="data-text">90 Days</span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Expected Returns</span>
                            <span class="data-text">10%</span>
                            <span class="data-text">20%</span>
                            <span class="data-text">40%</span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">24/7 Technical Support</span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Money Back</span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Dashboard Access</span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                        </li>
                        <li class="clearfix">
                            <span class="feature-text">Root Access</span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                            <span class="data-text"><img src="assets/images/icons/icon-65.svg" alt=""></span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Pricing Section End -->


        <!-- Testimonial Two -->
        <section class="testimonial-two">
            <div class="auto-container">
                <div class="section-title text-center">
                    <span class="sub-title-two">Testimonials</span>
                    <h2>Our Clients Feedback</h2>
                </div>
                <div class="two-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="assets/images/icons/icon-66.svg" alt=""></div>
                            <ul class="rating">
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                            </ul>
                            <h3>“Best Investment system”</h3>
                            <p>Seamlessly grow clientent portal rather thtopline customer service. Dramatically
                                benchmark multimedia based value for bleedg market. Conveniently re-engineer value-added
                                .</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-1.png" alt="">
                                </figure>
                                <h4>Guy Hawkins</h4>
                                <span class="designation">Project Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-two">
                        <div class="inner-box">
                            <div class="icon-box"><img src="assets/images/icons/icon-66.svg" alt=""></div>
                            <ul class="rating">
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                                <li><i class="icon-8"></i></li>
                            </ul>
                            <h3>“Find your perfect & best HYIP web”</h3>
                            <p>Seamlessly grow clientent portal rather thtopline customer service. Dramatically
                                benchmark multimedia based value for bleedg market. Conveniently re-engineer value-added
                                .</p>
                            <div class="author-box">
                                <figure class="thumb-box"><img src="assets/images/resource/testimonial-2.png" alt="">
                                </figure>
                                <h4>Annette Black</h4>
                                <span class="designation">Software Tester</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial Two End -->


        <!-- Footer -->
        <footer class="footer-three">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url(assets/images/shape/shape-76.png);"></div>
                <div class="pattern-2" style="background-image: url(assets/images/shape/shape-65.png);"></div>
                <div class="pattern-3" style="background-image: url(assets/images/shape/shape-67.png);"></div>
                <div class="pattern-4 zoom-fade" style="background-image: url(assets/images/shape/shape-69.png);"></div>
            </div>
            <div class="widget-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="logo-box"><a href="index-3.html"><img src="assets/images/logo.png"
                                            alt=""></a></figure>
                                <p>Seamlessly grow clientent portal rather the topline customer best service provider.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="index-3.html">Products</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="service.html">Features</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Resources</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="links-list clearfix">
                                        <li><a href="index-3.html">Download Whitepapper</a></li>
                                        <li><a href="index-3.html">Smart Token</a></li>
                                        <li><a href="index-3.html">Blockchain Explorer</a></li>
                                        <li><a href="index-3.html">Crypto API</a></li>
                                        <li><a href="index-3.html">Interest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget payment-widget">
                                <div class="widget-title">
                                    <h3>We accept following payment systems</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="card-list">
                                        <li><a href="index-3.html"><img src="assets/images/icons/card-1.png" alt=""></a>
                                        </li>
                                        <li><a href="index-3.html"><img src="assets/images/icons/card-2.png" alt=""></a>
                                        </li>
                                        <li><a href="index-3.html"><img src="assets/images/icons/card-3.png" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="bottom-inner">
                        <div class="copyright">
                            <p>&copy;2024 <a href="index-3.html">Hipre</a>. All rights reserved</p>
                        </div>
                        <ul class="social-box">
                            <li><a href="index-3.html"><i class="icon-13"></i></a></li>
                            <li><a href="index-3.html"><i class="icon-15"></i></a></li>
                            <li><a href="index-3.html"><i class="icon-16"></i></a></li>
                            <li><a href="index-3.html"><i class="icon-14"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->



        <!-- Scroll Top -->
        <button class="scroll-top scroll-to-target" data-target="html"><i class="icon-4"></i></button>

    </div>


    <!-- Jequery Plugins List -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/odometer.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>

    <!-- Custom Js -->
    <script src="assets/js/custom.js"></script>

</body>
<!-- Boxed Wrapper End -->

</html>