{% extends 'new/base.html' %}
{% load static %}
{% block content %}

    <!--page-head-->
    <section class="page-head site-overlay"
             style="background: url( https://aitradeinvestment.com/assets/global/images/POklQFyF3YG4HBQUd3SU.jpg) no-repeat center top / cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered">
                    <h2 data-aos="fade-down" data-aos-duration="2000">    About Us
</h2>
                </div>
            </div>
        </div>
    </section>
    <!--page-head End -->

        <section class="about-us section-style">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-img">
                        <img src="{% static 'new/assets/global/images/g4xp4oSimXAEZGvOKugJ.png' %}" alt=""/>
                        <div class="content">About Trade With Kennelly</div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-content">
                        <div class="section-title mb-4">
                            <!-- <h4>Who We Are</h4> -->
                            <h2>Who We Are</h2>
                            <!-- <h2>Welcome to AITrade, a pioneering force in the world of investment portfolio management</h2> -->
                        </div>
                        <div class="content">
                            Kennelly is passionate about protecting and growing the wealth of their clients, 
                  taking care of all their investing requirements. We believe in all terrain investment management', 
                  which means targeting positive returns in any market environment. 
                  We also believe in a fee structure that truly aligns itself with clients' wealth in real terms. 
                  Trade With Kennelly Freelance Investment Services collectively possess many years of experience in the investment business,combining expertise across a wide spectrum of asset classes,
                  including hedge funds, private equity commodities, as well as more traditional asset classes. Our investment philosophy is simply a diversified investment approach
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mt-5 pt-5 mb-5">
                    <div class="about-content">
                        <div class="section-title mb-4">
                            <h4>ROBERT JAMES KENNELLYABOUT TRADE WITH KENNELLYCPR ®, MBA, CRPC®, APMA®</h4>
                            <!-- <h2></h2> -->
                            <!-- <h2>Welcome to AITrade, a pioneering force in the world of investment portfolio management</h2> -->
                        </div>
                        <div class="content">
                            Trade With Kennelly Freelance Investment Services is a privatized freelance individual broker, 
                            Authorized and Regulated by the Financial Industry Regulatory Authority withCRD#: 4733631
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-img">
                      
                        <img src="{% static 'trade/frontend_assets/images/kennelly.png' %}" alt="photo-md" class="img-shadow">
                        <div class="content">CHIEF BROKER</div>
                    </div>
                </div>
                
                <div class="section section-pad bg-grey">
                    <div class="container">
                       <div class="section-head">
                          <div class="row text-center">
                             <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                <h2 class="heading-section">Why choose Us</h2>
                                <p>We put the interests of our clients first, making their goals our goals. This is our ethical and
                                   professional obligation - and the right way to act.
                                </p>
                             </div>
                          </div>
                       </div>
                       <div class="gaps size-3x"></div>
                       <div class="row text-center">
                          <div class="col-md-4 res-m-bttm-lg">
                             <div class="box-alt">
                                <div class="image-icon">
                                   <img src="{% static 'trade/frontend_assets/images/box-icon-f.png' %}" alt="box-icon">
                                </div>
                                <h4>Great return rates</h4>
                                <p>Our rate of invest and returns are simply the best amongst other investment companies and firms
                                   or banks.
                                </p>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="box-alt">
                                <div class="image-icon">
                                   <img src="{% static 'trade/frontend_assets/images/box-icon-g.png' %}" alt="box-icon">
                                </div>
                                <h4>Ease of control</h4>
                                <p>Our web app and web features are easy to manage and have a pleasurable experience when nativating
                                   through.
                                </p>
                             </div>
                          </div>
                          <div class="col-md-4">
                             <div class="box-alt">
                                <div class="image-icon">
                                   <img src="{% static 'trade/frontend_assets/images/box-icon-h.png' %}" alt="box-icon">
                                </div>
                                <h4>Trusted Worldwide</h4>
                                <p>It's part of our mission to protect nature with new technologies and have gotten great
                                   recognition.
                                </p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                <!-- <div class="col-xl-12 mt-4">
                    <div class="about-content">
                        <div class="content">
                            <div class="frontend-editor-data">
                                <p><b>Explore Us from the Experience</b></p>

<p>At AITrade, we leverage advanced algorithms and automated trading systems to ensure optimal investment outcomes. Our sophisticated technology analyzes vast amounts of market data to generate accurate trading signals, offering an 87% success rate in interest returns. We believe in transparency, reliability, and the financial success of our investors, providing fully transparent trading accommodations and financial freedom.</p>

<p><b>Our Commitment to You</b></p>

<p>Our mission is to create an unparalleled investment experience by offering diverse portfolios and high-tech tools that cater to your financial goals. We emphasize the importance of informed decision-making and continuous market monitoring to adapt to changing conditions, ensuring consistent performance and profitability.</p>

<p><b>Security and Support</b></p>

<p>AITrade prioritizes the security of your data and investments. Our platform is equipped with advanced encryption, multi-factor authentication, and regular security audits to safeguard against any threats. Additionally, our dedicated support team is available 24/7 to assist you with any questions or concerns, ensuring a seamless and satisfactory experience.</p>

<p>Join us at AITrade and explore a world of trading opportunities designed to maximize your returns and secure your financial future.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

{% endblock %}