<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="FakMmlSHVybcqUmzQddfz78uOrLuFwuha600idRc">
    <meta name="keywords" content="Aitrade Investment">
    <meta name="description" content="Aitrade Investment">
    <link rel="canonical" href="https://tradewithKennellysi.com"/>
    <link rel="shortcut icon" href="{% static 'new/assets/global/images/FceVJ2Pd7AAy3YDOHIIA.png' %}" type="image/x-icon"/>

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TradewithKennellysi" />
    <meta property="og:description" content="TradewithKennellysi is a private financial company engaged in investment activities, which are related to trading on financial markets and cryptocurrency exchanges performed by qualified professional traders." />
    <meta property="og:url" content="https://tradewithKennellysi.net" />
    <meta property="og:site_name" content="TradewithKennellysi" />
    <meta property="og:image" content="https://www.flashscore.com.ng/res/_fs/image/og/flashscore.png">

    <title>{% block title %}TradewithKennellysi{% endblock %}</title>

    <link rel="icon" href="{% static 'new/assets/global/images/FceVJ2Pd7AAy3YDOHIIA.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'new/assets/global/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/frontend/css/vendor/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/frontend/css/animate.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/frontend/css/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/global/css/nice-select.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/global/css/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'new/assets/global/css/simple-notify.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'new/assets/vendor/mckenziearts/laravel-notify/css/notify.css' %}"/>        <link rel="stylesheet" href="{% static 'new/assets/global/css/custom.css"/>
    <link rel="stylesheet" href="{% static 'new/assets/frontend/css/magnific-popup.css' %}"/>
            <link rel="stylesheet" href="{% static 'new/assets/frontend/css/aos.css' %}"/>
        <link rel="stylesheet" href="{% static 'new/assets/frontend/css/styles.css' %}"/>

    <style>
      
.site-head-tag {
	margin: 0;
  	padding: 0;
}
    </style>


<style>
    :root{
        overflow-x:hidden;
    }
</style>

</head>
<style>
    body{
        overflow:hidden !important;
    }
</style>
<body class="">
<script>
    var notify = {
        timeout: "5000",
    }
</script>
<!--Header Area-->
<header class="header">
    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <!-- <img src="{% static 'new/assets/global/images/CJQtaHsLwK0lh3SMas44.png' %}" alt=""/> -->
                <h4>Tradewithkennellysi</h4>
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0 main-nav">
                                                                        <li class="nav-item">
                                <a class="nav-link {% if '/' == request.path %}active{% endif %}"
                                   href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if '/plans' == request.path %}active{% endif %}"
                                   href="{% url 'plans' %}">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if '/about' == request.path %}active{% endif %}"
                                   href="{% url 'about' %}">About</a>
                            </li>
                                                                                                <li class="nav-item">
                                <a class="nav-link {% if '/contact' == request.path %}active{% endif %}"
                                   href="{% url 'contact' %}">Contact</a>
                            </li>
                                                                                                <li class="nav-item">
                                <a class="nav-link {% url 'contact' %} {% if '/services' == request.path %}active{% endif %}"
                                   href="{% url 'services' %}">Services</a>
                            </li>
                                            
                </ul>
                <div class="header-right-btn">

                    <!--<select name="language" id="" class="language-nice-select site-nice-select me-3"-->
                    <!--        onchange="window.location.href=this.options[this.selectedIndex].value;">-->
                    <!--    -->
                    <!--        <option-->
                    <!--            value="https://tradewithKennellysi.com/language-update?name=en" selected>English</option>-->
                    <!--    -->
                    <!--        <option-->
                    <!--            value="https://tradewithKennellysi.com/language-update?name=es" >Spanish</option>-->
                    <!--    -->
                    <!--        <option-->
                    <!--            value="https://tradewithKennellysi.com/language-update?name=fr" >Franch</option>-->
                    <!--    -->
                    <!--</select>-->
                    <style>
                        .nice-select{
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                        }
                        .gt_switcher{
                            padding:10px;
                            border: 0px solid #ccc !important;
                            width: 100%;
                        }
                        .gt_container--hich1m .gt_switcher .gt_selected a {
                            border: 0px solid #ccc !important;
                            background-color: #fff !important;
                             padding: 0 !important; 
                        }
                    </style>
                    <div class="gtranslate_wrapper site-nice-select"></div>
                    <script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper","flag_size":16,"switcher_horizontal_position":"inline","alt_flags":{"en":"usa"}}</script>
                    <script src="https://cdn.gtranslate.net/widgets/latest/dwf.js" defer></script>

                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:dasboard' %}" class="site-btn-sm primary-btn"><i
                                class="anticon anticon-user-add"></i>Dashboard</a>
                        <a href="{% url 'accounts:logout' %}" class="site-btn-sm grad-btn ms-2"><i
                                class="anticon anticon-user"></i>Logout</a>
                    {% else %}
                    <a href="{% url 'accounts:sign_up' %}" class="site-btn-sm primary-btn"><i
                        class="anticon anticon-user-add"></i>Register</a>
                <a href="{% url 'accounts:sign_in' %}" class="site-btn-sm grad-btn ms-2"><i
                        class="anticon anticon-user"></i>Login</a>
                    {% endif %}

                    
                    <div class="color-switcher">
                        <i icon-name="moon" class="dark-icon" data-mode="dark"></i>
                        <i icon-name="sun" class="light-icon" data-mode="light"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--/Header Area End-->

{% block content %}{% endblock %}
    
<!--Footer Area-->
<footer class="footer dark-blue-bg section-style-2">
    <div class="bat-right" style="background: url({% static 'new/assets/global/images/GAH1nccf5XhjretvfsYT.png' %}) repeat;"
         data-aos="fade-down-left" data-aos-duration="2000"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footer-widget" data-aos="fade-down" data-aos-duration="1000">
                    <h4>TradewithKennellysi</h4>
                    <p>
                        TradewithKennellysi, the premier and most secure forex and crypto trading signal asset firm, specializes in investment predictions and was founded to offer esteemed private investors diverse portfolios, a client-first approach, and cutting-edge investment tools.
                    </p>
                    <!-- <div class="socials">
                                                    <a href="https://www.facebook.com/hyiprio/"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="https://www.instagram.com/hyiprio"><i class="fab fa-instagram"></i></a>
                                                    <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
                                                    <a href="https://discord.com"><i class="fab fa-discord"></i></a>
                                            </div> -->
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="row">

                    
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="footer-widget" data-aos="fade-down" data-aos-duration="1500">
                                <h4>Base Navigation</h4>
                                <div class="footer-nav">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'accounts:sign_in' %}">Account Login</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                                                                                    
                                    </ul>
                                </div>
                            </div>
                        </div>

                    
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="footer-widget" data-aos="fade-down" data-aos-duration="1500">
                                <h4>Important Links</h4>
                                <div class="footer-nav">
                                    <ul>
                                 <li><a href="{% url 'about' %}">About</a></li>
                                                                                    
                                    </ul>
                                </div>
                            </div>
                        </div>

                    

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="copyright-text" data-aos="fade-down" data-aos-duration="3000">
                    <p>
                        Copyright ©TradewithKennellysi INVESTMENT 2024. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Area End-->


<script src="{% static 'new/assets/global/js/jquery.min.js' %}"></script>
<script src="{% static 'new/assets/global/js/jquery-migrate.js' %}"></script>

<script src="{% static 'new/assets/frontend/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/scrollUp.min.js' %}"></script>

<script src="{% static 'new/assets/frontend/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'new/assets/global/js/waypoints.min.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'new/assets/global/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'new/assets/global/js/lucide.min.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/aos.js' %}"></script>
<script src="{% static 'new/assets/global/js/datatables.min.js' %}" type="text/javascript" charset="utf8"></script>
<script src="{% static 'new/assets/global/js/simple-notify.min.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/main.js' %}"></script>
<script src="{% static 'new/assets/frontend/js/cookie.js' %}"></script>
<script src="{% static 'new/assets/global/js/custom.js' %}"></script>
    <script>
        (function ($) {
            'use strict';
            // AOS initialization
            AOS.init();
        })(jQuery);
    </script>
    <script>
        (function ($) {
            'use strict';
            // To top
            $.scrollUp({
                scrollText: '<i class="fas fa-caret-up"></i>',
                easingType: 'linear',
                scrollSpeed: 500,
                animation: 'fade'
            });
        })(jQuery);
    </script>

<script type="text/javascript" src="{% static 'new/assets/vendor/mckenziearts/laravel-notify/js/notify.js' %}"></script>
    <script>
    $('#selectPortfolio').on('change', function (e) {
    e.preventDefault();
    "use strict"

    var id = $(this).val();

    if (id != 0) {
        var selectedPlan = $("#selectPlan");
        var url = 'https://tradewithKennellysi.com/portfolio-select/:id';
        url = url.replace(':id', id);

        $.ajax({
            url: url,
            success: function (result) {
                console.log(result.schemas);
                selectedPlan.empty();  // Clear existing options
                for (let schema of result.schemas) {
                    selectedPlan.append(
                        '<option value="' + schema.id + '">' +
                        schema.name + ' (' +
                        (schema.type == 'range' ? '$' + schema.min_amount + '-' + '$' + schema.max_amount : '$' + schema.fixed_amount) +
                        ')</option>'
                    );
                }
                console.log(selectedPlan);
            }
        });
    }
});
        $('#selectPlan').on('change',function (e) {
            e.preventDefault();
            "use strict"

            var id = $(this).val();

            if (id != 0) {

                var invest_amount = $("#enter-amount");
                invest_amount.val('');
                invest_amount.attr('readonly', false);

                var url = 'https://tradewithKennellysi.com/schema-select/:id';
                url = url.replace(':id', id);

                $.ajax({
                    url: url, success: function (result) {
                        
                        $('#profit-label').html(result.return_interest);

                        if (result.invest_amount > 0) {
                            invest_amount.val(result.invest_amount);
                            invest_amount.attr('readonly', true);
                        }

                        if (result.number_period === 'Unlimited Times') {
                            $('#profit').val('Unlimited');
                        } else {

                            if (result.interest_type === 'percentage') {
                                $('#profit').val(calPercentage(result.invest_amount, result.interest) * result.period);

                            } else {
                                $('#profit').val(result.interest * result.period);
                            }
                        }

                    }
                });
            }

        })

        $('#enter-amount').on('keyup',function (e) {
            e.preventDefault();
            "use strict"
            var id = $('#selectPlan').val();

            if (id != 0) {
                var url = 'https://tradewithKennellysi.com/schema-select/:id';
                url = url.replace(':id', id);

                $.ajax({
                    url: url, success: function (result) {

                        if (result.number_period === 'Unlimited Times') {
                            $('#profit').val('Unlimited');
                        } else {

                            if (result.interest_type === 'percentage') {
                                var invest_amount = $("#enter-amount").val();
                                $('#profit').val(calPercentage(invest_amount, result.interest) * result.period);

                            } else {
                                $('#profit').val(result.interest * result.period);
                            }
                        }

                    }
                });
            }

        })


    </script>
    <script>
        // Color Switcher
        $(".color-switcher").on('click', function () {
            "use strict"
            $("body").toggleClass("dark-theme");
            var url = 'https://tradewithKennellysi.com/theme-mode';
            $.get(url)
        });
    </script>







</body>
</html>

