{% extends 'new/base.html' %}
{% load static %}
{% block content %}

    <!--page-head-->
    <section class="page-head site-overlay"
             style="background: url( https://aitradeinvestment.com/assets/global/images/POklQFyF3YG4HBQUd3SU.jpg) no-repeat center top / cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered">
                    <h2 data-aos="fade-down" data-aos-duration="2000">    FAQ Page
</h2>
                </div>
            </div>
        </div>
    </section>
    <!--page-head End -->

    
    <section class="section-style">
    <div class="bat-left" style="background: url(https://aitradeinvestment.com/assets) repeat;" data-aos="fade-down-right"
         data-aos-duration="2000"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title centered">
                    <h4 data-aos="fade-down" data-aos-duration="2000">FAQ Page</h4>
                    <h2 data-aos="fade-down" data-aos-duration="1500">Explore Your Questions</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-12">
                <div class="faq-contents">
                    <div class="accordion" id="accordionExample">
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne14">
                                    <button class="accordion-button "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne14" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>Who We Are?
                                    </button>
                                </h2>
                                <div id="collapseOne14"
                                     class="accordion-collapse collapse   show "
                                     aria-labelledby="headingOne14" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">We are AITrade, a leading investment portfolio management  firm dedicated to providing our investors with high-tech tools, a customer-priority approach, and exclusive interest returns. Our mission is to offer financial freedom and transparent trading accommodations, ensuring satisfaction and reliability for our investors</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne15">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne15" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>Guaranteed 87%  Success Interest Returns Trading Signals, But How?
                                    </button>
                                </h2>
                                <div id="collapseOne15"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne15" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">Our platform guarantees 87% success in interest returns through advanced algorithms, accurate trading signals, and automated trading. By continuously monitoring market conditions and diversifying investment channels, we ensure consistent and reliable profits.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne28">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne28" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>What Are Digital Assets and How Are They Valued?
                                    </button>
                                </h2>
                                <div id="collapseOne28"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne28" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">Digital assets are virtual or digital representations of value that can be traded, transferred, or used for investment purposes. These include cryptocurrencies, tokens, and other blockchain-based assets. Their value is determined by market demand, utility, scarcity, and underlying technology. At AITrade, we utilize advanced algorithms to analyze market trends and value digital assets accurately, ensuring informed investment decisions.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne29">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne29" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>How Do Ranking and Referral Levels Work?
                                    </button>
                                </h2>
                                <div id="collapseOne29"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne29" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">The Ranking Badge System rewards you with badges for reaching trading milestones, unlocking exclusive features, and providing motivation and recognition. The Referral Level System allows you to earn bonuses by inviting new users, benefiting from a multi-level network effect, and increasing rewards as your referrals become more active.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne30">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne30" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>How Can I Ask for Support?
                                    </button>
                                </h2>
                                <div id="collapseOne30"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne30" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">You can request support by contacting our customer service team through our website. We offer multiple channels of communication, including email, live chat, and phone support, to assist you with any questions or concerns. Our dedicated support team is available 24/7 to ensure you have a seamless and satisfactory experience with AITrade.</div>
                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-12">
                    <div class="section-title text-center">
                        <a href="https://hyiprio.tdevs.co/contact" target="_self"
                           class="site-btn primary-btn"><i
                                class="anticon anticon-mail"></i>Still No Luck?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section  -->
    
        
        <section class="cta site-overlay"
         style="background: url(https://aitradeinvestment.com/assets/global/images/udMk5L0YXsXBK3mgRJQX.jpg) no-repeat center center fixed;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="headding" data-aos="fade-right" data-aos-duration="1500">
                    <h2 class="white-color">
                        We&#039;re a more than 1000+ members family, you can join with us with high confident
                    </h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="btns" data-aos="fade-left" data-aos-duration="2000">
                    <a href="https://aitradeinvestment/register" target="_self"
                       class="site-btn primary-btn"><i
                            class="anticon anticon-user-add"></i>Join Us</a>
                    <a href="https://aitradeinvestment/contact" target="_self"
                       class="site-btn"><i
                            class="anticon anticon-mail"></i>Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- section end-->

{% endblock %}