{% extends 'new/base.html' %}
{% load static %}
{% block content %}

    <!--page-head-->
    <section class="page-head site-overlay"
             style="background: url( https://aitradeinvestment.com/assets/global/images/POklQFyF3YG4HBQUd3SU.jpg) no-repeat center top / cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 centered">
                    <h2 data-aos="fade-down" data-aos-duration="2000">    FAQ Page
</h2>
                </div>
            </div>
        </div>
    </section>
    <!--page-head End -->

    <section class="section-style">
        <div class="bat-left" style="background: url({% static 'new/assets/global/images/sPRwlwtyJVvQ1DRqoACh.png' %}) repeat;" data-aos="fade-down-right"
             data-aos-duration="2000"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-title centered">
                        <h4 data-aos="fade-down" data-aos-duration="2000">Faq Questions</h4>
                        <h2 data-aos="fade-down" data-aos-duration="1500">Explore Your Questions.</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-12">
                    <div class="faq-contents">
                        <div class="accordion" id="accordionExample">
                                                        <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                    <h2 class="accordion-header" id="headingOne14">
                                        <button class="accordion-button "
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne14" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span class="icon"><i
                                                    class="anticon anticon-check"></i></span>What is a cryptocurrency wallet?
                                        </button>
                                    </h2>
                                    <div id="collapseOne14"
                                         class="accordion-collapse collapse   show "
                                         aria-labelledby="headingOne14" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="para">This is all about storing a cryptocurrency, wallet concept can be daunting a bit for
                                                the uninitiated. Basically, there are wallet software (this can be desktop, online
                                                or mobile), hardware based wallets, and of course the paper wallets. Talking about
                                                the “best” wallet in the ecosystem will be different for each one of us, it depends
                                                on a particular needs.</div>
                                                <div class="para">
                                                    Wallets don’t just store cryptocurrency directly. It is accurate to think wallet as
                                        storing private keys. The Public key cryptography allows cryptocurrency to function,
                                        and uses a specific algorithms in order to generate pairs of keys. Public key is the
                                        address to which anyone can send its cryptocurrency balance. The private key allows
                                        owners spend funds from the specified address. Without the private key, public
                                        address becomes bottomless pit that you can only see; money still be sent there, but
                                        lost without a private key.
                                                </div>
                                            <div class="para">
                                                The type of wallets simply represents various ways a certain can secure their secret
                                        private key. There are two main types of cryptocurrency wallet, the hot and cold,
                                        these refers to the level or internet connectivity of the wallet. Paper wallet and
                                        hardware wallets are not actively connected to internet and considered as cold
                                        storage. Hot wallet is internet connected wallet, easy to spend, but vulnerable to
                                        cyber-attacks. A cold storage protects you from cyber-crime, but still it will be
                                        the owner’s responsibility to secure their property.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                    <h2 class="accordion-header" id="headingOne15">
                                        <button class="accordion-button  collapsed "
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne15" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span class="icon"><i
                                                    class="anticon anticon-check"></i></span>what does the interest rate depends on?
                                        </button>
                                    </h2>
                                    <div id="collapseOne15"
                                         class="accordion-collapse collapse  "
                                         aria-labelledby="headingOne15" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="para">With the help of our professional and experience traders, our rate varies weekly as
                                                returns depend on profits made weekly from trading your deposits.</div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                    <h2 class="accordion-header" id="headingOne28">
                                        <button class="accordion-button  collapsed "
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne28" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span class="icon"><i
                                                    class="anticon anticon-check"></i></span>what are the payout rules, any extra charges?
                                        </button>
                                    </h2>
                                    <div id="collapseOne28"
                                         class="accordion-collapse collapse  "
                                         aria-labelledby="headingOne28" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="para">We will never ask you for fee on withdrawal and deposit.</div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                    <h2 class="accordion-header" id="headingOne29">
                                        <button class="accordion-button  collapsed "
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne29" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span class="icon"><i
                                                    class="anticon anticon-check"></i></span>How long does it take to process withdrawal request?
                                        </button>
                                    </h2>
                                    <div id="collapseOne29"
                                         class="accordion-collapse collapse  "
                                         aria-labelledby="headingOne29" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="para">our system is automated and processes withdrawal within 1 hour to 24hrs maximum.</div>
                                        </div>
                                    </div>
                                </div>
                                                        <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                    <h2 class="accordion-header" id="headingOne30">
                                        <button class="accordion-button  collapsed "
                                                type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne30" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span class="icon"><i
                                                    class="anticon anticon-check"></i></span>Can I add more funds after my initial deposit and I felt like increasing my deposit?
                                        </button>
                                    </h2>
                                    <div id="collapseOne30"
                                         class="accordion-collapse collapse  "
                                         aria-labelledby="headingOne30" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="para">Yes you can do that. Most investors start with little amount and deposit bigger
                                                amount after testing the system.</div>
                                        </div>
                                    </div>
                                </div>
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-12">
                    <div class="section-title text-center">
                        <a href="{% url 'contact' %}" target="_self"
                           class="site-btn primary-btn"><i
                                class="anticon anticon-mail"></i>Still No Luck?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    
<section class="cta site-overlay"
style="background: url({% static 'new/assets/global/images/udMk5L0YXsXBK3mgRJQX.jpg' %}) no-repeat center center fixed;">
<div class="container">
<div class="row">
   <div class="col-xl-8 col-lg-12">
       <div class="headding" data-aos="fade-right" data-aos-duration="1500">
           <h2 class="white-color">
               We&#039;re a more than 1000+ members family, you can join with us with high confident
           </h2>
       </div>
   </div>
   <div class="col-xl-4 col-lg-12">
       <div class="btns" data-aos="fade-left" data-aos-duration="2000">
           <a href="{% url 'accounts:sign_up' %}" target="_self"
              class="site-btn primary-btn"><i
                   class="anticon anticon-user-add"></i>Join Us</a>
           <a href="{% url 'contact' %}" target="_self"
              class="site-btn"><i
                   class="anticon anticon-mail"></i>Contact Us</a>
       </div>
   </div>
</div>
</div>
</section>

{% endblock %}