{% extends 'new/base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-K+ctBWg1gvKtga5pgb3uaQk04EPhU5w51M4A0myCx4g=" crossorigin="anonymous"></script>


                    <section class="banner light-blue-bg">
    <div class="slider-thumb"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12 col-12">
                <div class="banner-content">
                    <h2 data-aos="fade-right" data-aos-duration="1000">
                        Earn with AI technology today
                    </h2>
                    <p data-aos="fade-up" data-aos-duration="1500">
                        Join thousands who’ve discovered a profitable way to utilize cryptocurrency and earn passively by an automated trading system and daily signals
                    </p>
                    <div class="banner-anchors">
                        {% if user.is_authenticated %}
                        <a href="{% url 'accounts:dasboard'}" class="site-btn grad-btn mb-2" data-aos="fade-up"
                           target="_self" data-aos-duration="2000"><i
                                class="anticon anticon anticon-user-add"></i>Make Investment
                        </a>
                        {% else %}
                        <a href="{% url 'accounts:sign_up' %}" class="site-btn grad-btn mb-2" data-aos="fade-up"
                           target="_self" data-aos-duration="2000"><i
                                class="anticon anticon anticon-user-add"></i>Make Investment
                        </a>
                        {% endif %}
                        <a href="https://aitradeinvestment.com/#work" class="site-btn white-btn" data-aos="fade-up"
                           target="_self" data-aos-duration="2500"><i
                                class="anticon anticon anticon-fire"></i>How it works
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-12">
                <style>
                    .earnings-calculator-hero .video {
                        bottom: 50% !important;
                        left: 50% !important;
                    }
                </style>
                <div class="banner-right">
                    <!--<img src="{% static 'new/assets/global/images/Rd2silDA5AuYvO6dxTux.png' %}" alt="" class="banner-img" data-aos="fade-left"-->
                    <!--     data-aos-duration="2000"/>-->
                    <div class="earnings-calculator-img earnings-calculator-hero" data-aos="fade-right" data-aos-duration="2000">
                        <img class="rounded" src="{% static 'new/assets/global/images/Rd2silDA5AuYvO6dxTux.png' %}" alt="">
                        <a href="https://res.cloudinary.com/https-flenzy-herokuapp-com/video/upload/v1726580632/documentation_dud063.mp4" class="video video-popup"><i class="fas fa-play"></i></a>
                    </div>
                    <div class="dots" style="background: url({% static 'new/assets/global/images/lLJT3xQhVp4mkOyxtRC3.png' %}) repeat;"
                         data-aos="fade-down-left" data-aos-duration="1500">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                    <section class="why-choose-us section-style-2">
    <div class="bat-right" style="background: url({% static 'new/assets/global/images/XIeEtiyw8HzFLOK5lLch.png' %}) repeat;" data-aos="fade-down-left"
         data-aos-duration="2000"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-us-img" data-aos="fade-right" data-aos-duration="2000">
                    <img src="{% static 'new/assets/global/images/w6wAm8zEpqqk4GzxEWxw.png' %}" alt=""/>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-us-content">
                    <div class="section-title">
                        <h4 data-aos="fade-down" data-aos-duration="1500">About Us</h4>
                        <h2 data-aos="fade-down" data-aos-duration="1000">Explore an Ever-Expanding World of Trading</h2>
                    </div>

                                        
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon "></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Our Mission</h4>
                                <p>
                                    At TradewithKennellysi, our mission is to empower private investors by providing a secure, cutting-edge platform for forex and crypto trading signals, as well as investment predictions. 
                                    We aim to build long-term financial success for our clients through transparency, personalized portfolios, and advanced investment tools, while eliminating emotional barriers like FOMO. Our client-first approach ensures that we adapt to the ever-evolving needs of our investors.
                                </p>
                            </div>
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon "></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Our Vision</h4>
                                <p>
                                    We envision a future where private investors are empowered with the knowledge and technology needed to navigate the complexities of the digital asset landscape. At TradewithKennellysi, 
                                    we strive to set the standard in trusted and ethical trading by offering innovative, risk-managed solutions that maximize returns and simplify decision-making for our clients. We aim to make financial freedom attainable and transparent for all.
                                </p>
                            </div>
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon "></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>What We Do</h4>
                                <p>
                                    TradewithKennellysi leverages advanced algorithms and automated trading strategies to simplify the investment process for our clients. Our platform provides access to forex, crypto assets, and diversified trading signals, coupled with real-time market insights. 
                                    By analyzing vast data from various markets, we optimize portfolios automatically—allowing investors to focus on results without the need for constant oversight. From detailed performance tracking to automated buy-ins and sell-outs, we ensure that every investment decision is data-driven and aimed at maximizing returns.
                                </p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
                    <section class="section-style light-blue-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-12">
                <div class="section-title text-center">
                    <!-- <h4 data-aos="fade-down" data-aos-duration="2000">Investment Calculator</h4> -->
                    <h2 data-aos="fade-down" data-aos-duration="1500">
                        Introduction?
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="earnings-calculator-img" data-aos="fade-right" data-aos-duration="2000">
                    <img class="rounded" src="{% static 'new/assets/global/images/kY1GNdg0EXic9TuMMp4X.jpg' %}" alt="">
                    <a href="https://res.cloudinary.com/https-flenzy-herokuapp-com/video/upload/v1726580632/documentation_dud063.mp4" class="video video-popup"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="earnings-calculator" data-aos="fade-left" data-aos-duration="2000">
                    <p>I would like to extend my gratitude for the opportunity to present my investment services to you. I am eager to assist you in achieving your financial objectives.</p>
                    <p>The foundation of this investment program is the principle that diversification and asset allocation are critical to long-term success. Many investors, despite their best intentions, often adopt strategies that lack the discipline and planning deemed essential by seasoned professionals<br>
                        My approach centers on constructing a tailored investment portfolio designed to meet your specific needs, supported by a portfolio tracking system developed by an investment professional with over a decade of extensive experience. 
                        Unlike many services that review asset allocation targets only on a quarterly basis. In today’s highly volatile markets, consistent oversight is crucial to managing risk and enhancing the likelihood of achieving your financial goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
                    <section id="work" class="how-it-works section-style-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-12">
                <div class="section-title text-center">
                    <h4 data-aos="fade-down" data-aos-duration="2000">How It Works</h4>
                    <h2 data-aos="fade-down" data-aos-duration="1500">
                        It is a straightforward process to start with us and begin earning money effortlessly.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="{% static 'new/assets/global/images/rgcX1UNOLmbtZ3FqaTRF.png' %}" alt=""><span><i
                                    class="anticon anticon-check"></i></span>
                        </div>
                        <h4>Register Account</h4>
                        <p>
                            Begin your journey by registering on our website. This will enable you to start your trading operations.
                        </p>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="{% static 'new/assets/global/images/XJpLT3lm67UdgIXF9evM.png' %}" alt=""><span><i
                                    class="anticon anticon-check"></i></span>
                        </div>
                        <h4>Verify Email</h4>
                        <p>
                            Once your account is created, verify your email to activate your account and ensure smooth communication.
                        </p>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="{% static 'new/assets/global/images/AUYbTtNQ4xTXzOxovUfJ.png' %}" alt=""><span><i
                                    class="anticon anticon-check"></i></span>
                        </div>
                        <h4>Login Account</h4>
                        <p>
                            After email verification, login into your account dashboard.
                        </p>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="how-it-works-single" data-aos="fade-left" data-aos-duration="1000">
                        <div class="icon-box">
                            <img class="icon-box-icon" src="{% static 'new/assets/global/images/MDUaupZdxAhfolZvx45O.png' %}" alt=""><span><i
                                    class="anticon anticon-check"></i></span>
                        </div>
                        <h4>Start Investing</h4>
                        <p>
                            Choose any suitable plan and start investing and receiving your investment returns
                        </p>
                    </div>
                </div>
            
        </div>
    </div>
</section>
                    <section class="why-choose-us section-style-2">
    <div class="bat-right" style="background: url({% static 'new/assets/global/images/XIeEtiyw8HzFLOK5lLch.png' %}) repeat;" data-aos="fade-down-left"
         data-aos-duration="2000"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-us-img" data-aos="fade-right" data-aos-duration="2000">
                    <img src="{% static 'new/assets/global/images/w6wAm8zEpqqk4GzxEWxw.png' %}" alt=""/>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-us-content">
                    <div class="section-title">
                        <h4 data-aos="fade-down" data-aos-duration="1500">WHY CHOOSE US</h4>
                        <h2 data-aos="fade-down" data-aos-duration="1000">We keep your assets safe</h2>
                        <p>Your security and trust are paramount to us. We are unwavering in our commitment to
                            safeguarding your account with the utmost levels of security standards.</p>
                    </div>

                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon anticon anticon-credit-card"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Payment Options</h4>
                                <p>
                                    While we engage in trading various stocks, our primary payment options are Bitcoin, Ethereum and USDT
                        (Tether).
                                </p>
                            </div>
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon anticon anticon-bank"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Legal Compliance</h4>
                                <p>
                                    We proudly possess all the documented licenses and certifications issued by World Standards,
                                    ensuring our commitment to industry excellence and compliance.
                                </p>
                            </div>
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon anticon anticon-wallet"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Referral Level System</h4>
                                <p>
                                    Earn more through our referral level system. When you refer new users to our platform, you receive bonuses based on their activity. The more active your referrals, the higher your rewards. This multi-level system allows you to build a network and earn continuously as it grows.
                                </p>
                            </div>
                        </div>
                                            <div class="single" data-aos="fade-down" data-aos-duration="2000">
                            <div class="icons">
                                <div class="icon">
                                    <i class="anticon anticon anticon-lock"></i>
                                </div>
                            </div>
                            <div class="content">
                                <h4>Secure Application</h4>
                                <p>
                                    Enjoy peace of mind with our secure application. We prioritize your security with advanced encryption, and regular security audits to protect your data and investments. Our platform is designed to safeguard against any threats, ensuring a safe trading environment for all users.
                                </p>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
                    <section class="section-style-2 site-overlay"
         style="background: url({% static 'new/assets/global/images/p7e2WARHpcYJbr7RlDDE.jpg' %}) no-repeat center center fixed;">
    <div class="container">
        <div class="row justify-content-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="{% static 'new/assets/global/images/Upbk4eWUnmEbOUDb0S1n.png' %}" alt=""/>
                        <h3 class="count">522</h3>
                        <h4>Total Users</h4>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="{% static 'new/assets/global/images/4IbFwZ2PZa8nLudMHzSt.png' %}" alt=""/>
                        <h3 class="count">21453</h3>
                        <h4>Total Deposit</h4>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="{% static 'new/assets/global/images/brPxBdDNKkKu1oFb3uUl.png' %}" alt=""/>
                        <h3 class="count">112549</h3>
                        <h4>Total Investment</h4>
                    </div>
                </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="single-stat" data-aos="fade-down" data-aos-duration="1000">
                        <img src="{% static 'new/assets/global/images/cxq0OgALCgYjCCcoI6f2.png' %}" alt=""/>
                        <h3 class="count">58694</h3>
                        <h4>Total Withdraw</h4>
                    </div>
                </div>
                    </div>
    </div>
</section>
                    <section class="section-style">
    <div class="bat-left" style="background: url({% static 'new/assets/global/images/sPRwlwtyJVvQ1DRqoACh.png' %}) repeat;" data-aos="fade-down-right"
         data-aos-duration="2000"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="section-title centered">
                    <h4 data-aos="fade-down" data-aos-duration="2000">Faq Questions</h4>
                    <h2 data-aos="fade-down" data-aos-duration="1500">Explore Your Questions.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-8 col-12">
                <div class="faq-contents">
                    <div class="accordion" id="accordionExample">
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne14">
                                    <button class="accordion-button "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne14" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>What is a cryptocurrency wallet?
                                    </button>
                                </h2>
                                <div id="collapseOne14"
                                     class="accordion-collapse collapse   show "
                                     aria-labelledby="headingOne14" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">This is all about storing a cryptocurrency, wallet concept can be daunting a bit for
                                            the uninitiated. Basically, there are wallet software (this can be desktop, online
                                            or mobile), hardware based wallets, and of course the paper wallets. Talking about
                                            the “best” wallet in the ecosystem will be different for each one of us, it depends
                                            on a particular needs.</div>
                                            <div class="para">
                                                Wallets don’t just store cryptocurrency directly. It is accurate to think wallet as
                                    storing private keys. The Public key cryptography allows cryptocurrency to function,
                                    and uses a specific algorithms in order to generate pairs of keys. Public key is the
                                    address to which anyone can send its cryptocurrency balance. The private key allows
                                    owners spend funds from the specified address. Without the private key, public
                                    address becomes bottomless pit that you can only see; money still be sent there, but
                                    lost without a private key.
                                            </div>
                                        <div class="para">
                                            The type of wallets simply represents various ways a certain can secure their secret
                                    private key. There are two main types of cryptocurrency wallet, the hot and cold,
                                    these refers to the level or internet connectivity of the wallet. Paper wallet and
                                    hardware wallets are not actively connected to internet and considered as cold
                                    storage. Hot wallet is internet connected wallet, easy to spend, but vulnerable to
                                    cyber-attacks. A cold storage protects you from cyber-crime, but still it will be
                                    the owner’s responsibility to secure their property.
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne15">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne15" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>what does the interest rate depends on?
                                    </button>
                                </h2>
                                <div id="collapseOne15"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne15" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">With the help of our professional and experience traders, our rate varies weekly as
                                            returns depend on profits made weekly from trading your deposits.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne28">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne28" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>what are the payout rules, any extra charges?
                                    </button>
                                </h2>
                                <div id="collapseOne28"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne28" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">We will never ask you for fee on withdrawal and deposit.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne29">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne29" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>How long does it take to process withdrawal request?
                                    </button>
                                </h2>
                                <div id="collapseOne29"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne29" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">our system is automated and processes withdrawal within 1 hour to 24hrs maximum.</div>
                                    </div>
                                </div>
                            </div>
                                                    <div class="accordion-item" data-aos="fade-down" data-aos-duration="1000">
                                <h2 class="accordion-header" id="headingOne30">
                                    <button class="accordion-button  collapsed "
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne30" aria-expanded="true"
                                            aria-controls="collapseOne">
                                        <span class="icon"><i
                                                class="anticon anticon-check"></i></span>Can I add more funds after my initial deposit and I felt like increasing my deposit?
                                    </button>
                                </h2>
                                <div id="collapseOne30"
                                     class="accordion-collapse collapse  "
                                     aria-labelledby="headingOne30" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="para">Yes you can do that. Most investors start with little amount and deposit bigger
                                            amount after testing the system.</div>
                                    </div>
                                </div>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cta site-overlay"
         style="background: url({% static 'new/assets/global/images/udMk5L0YXsXBK3mgRJQX.jpg' %}) no-repeat center center fixed;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="headding" data-aos="fade-right" data-aos-duration="1500">
                    <h2 class="white-color">
                        We&#039;re a more than 1000+ members family, you can join with us with high confident
                    </h2>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="btns" data-aos="fade-left" data-aos-duration="2000">
                    <a href="{% url 'accounts:sign_up' %}" target="_self"
                       class="site-btn primary-btn"><i
                            class="anticon anticon-user-add"></i>Join Us</a>
                    <a href="{% url 'contact' %}" target="_self"
                       class="site-btn"><i
                            class="anticon anticon-mail"></i>Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
                    <section class="section-style-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-12">
                <div class="section-title text-center">
                    <h4 data-aos="fade-down" data-aos-duration="2000">Payment Gateways</h4>
                    <h2 data-aos="fade-down" data-aos-duration="1500">Payment Gateway We Accept</h2>
                </div>
            </div>
        </div>
        <div class="row brands-logo justify-content-center">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/images/x2KBMjdkKOxVojM1BLpg.svg' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/stripe.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/mollie.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/perfectmoney.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/coinbase.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/paystack.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/voguepay.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/flutterwave.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/coingate.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/monnify.svg' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/securionpay.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/coinpayments.svg' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/nowpayments.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/coinremitter.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/cryptomus.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/paymongo.png' %}" alt=""/>
                    </div>
                </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-6">
                    <div class="single-brands-logo" data-aos="fade-down" data-aos-duration="2000">
                        <img src="{% static 'new/assets/global/gateway/btcpayserver.png' %}" alt=""/>
                    </div>
                </div>
            
        </div>
    </div>
</section>


<section class="section-style-2 dark-blue-bg newslatter-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="newslatter" data-aos="fade-down" data-aos-duration="1500">
                    <form id="newsletter-form">
                        {% csrf_token %}
                        <input type="hidden" name="bot" id="newsletter-bot">   
                        <input type="email" name="email" id="newsletter-email" placeholder="Email Address" required/>
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
   

<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    $(document).on('submit', '#newsletter-form', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:'/newsletter-sub',
            data: {
                email: $('#newsletter-email').val(), 
                bot: $('#newsletter-bot').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'Subscription Successful!.',
                    timer: 5000,
                });
            },
            error: function(xhr, status, error) {
                var errorMessage = xhr.responseText;
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                    timer: 5000,
                });
            }
        });
    });
</script>

{% endblock %}