<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>Hipre - HYIP Investment Website HTML5 Template</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Stylesheets List -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/owl.css" rel="stylesheet">
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome-all.css" rel="stylesheet">
    <link href="assets/css/flaticon.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <link href="assets/css/jquery-ui.css" rel="stylesheet">
    <link href="assets/css/odometer.css" rel="stylesheet">
    <link href="assets/css/data-table.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>


<!-- Boxed Wrapper -->

<body>

    <div class="boxed_wrapper">


        <!-- Preloader -->
        <div class="loader-wrap">
            <div class="preloader">
                <div id="handle-preloader" class="handle-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader End -->


        <!-- Dashboard Header -->
        <header class="dashboard-header">
            <div class="outer-container">
                <figure class="logo-box"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                <div class="header-content">
                    <div class="left-content">
                        <div class="menu-text mobile-nav-toggler"><img src="assets/images/icons/icon-23.svg"
                                alt="">Dashboard</div>
                        <div class="search-box">
                            <form method="post" action="#">
                                <div class="form-group">
                                    <div class="icon-box"><img src="assets/images/icons/icon-25.svg" alt=""></div>
                                    <input type="search" name="search-field" placeholder="Search Here" required>
                                    <button type="submit"><img src="assets/images/icons/icon-24.svg" alt=""></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="right-content">
                        <div class="notification-box"><button><img src="assets/images/icons/icon-26.svg" alt=""><span
                                    class="alart"></span></button></div>
                        <div class="admin-box">
                            <span>Admin</span>
                            <figure class="image-box"><img src="assets/images/resource/admin.png" alt=""></figure>
                            <ul class="dropdown-box">
                                <li><a href="index.html"><img src="assets/images/icons/icon-28.svg" alt="">Profile</a>
                                </li>
                                <li><a href="index.html"><img src="assets/images/icons/icon-29.svg" alt="">Password</a>
                                </li>
                                <li><a href="index.html"><img src="assets/images/icons/icon-30.svg" alt="">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Dashboard Header End -->


        <!-- Mobile Menu  -->
        <div class="mobile-menu dashboard-mobile-menu">
            <div class="close-btn"><i class="fas fa-times"></i></div>
            <div class="dashboard-sidebar">
                <figure class="logo-box"><a href="index.html"><img src="assets/images/logo.png" alt=""></a></figure>
                <ul class="dashboard-category-list">
                    <li><a href="index.html" class="current"><img src="assets/images/icons/icon-31.svg"
                                alt="">Dashboard</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-32.svg" alt="">Deposit</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-33.svg" alt="">Buy Package</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-34.svg" alt="">Buy Package History</a>
                    </li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-35.svg" alt="">Withdraw</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-36.svg" alt="">My Direct</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-37.svg" alt="">Level Report</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-38.svg" alt="">Rank & Rewards</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-39.svg" alt="">Bonus Reports</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-40.svg" alt="">Transactions</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-41.svg" alt="">Affiliate Tools</a></li>
                    <li><a href="index.html"><img src="assets/images/icons/icon-42.svg" alt="">Log Out</a></li>
                </ul>
            </div>
        </div>
        <!-- End Mobile Menu -->


        <!-- Dashboard Section -->
        <section class="dashboard-section">
            <div class="outer-container">
                <div class="dashboard-content">
                    <div class="statistics-content">
                        <div class="title-text">
                            <h3>Statistics</h3>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6 col-sm-12 column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="assets/images/icons/icon-50.svg" alt=""></div>
                                    <p>My Referrals</p>
                                    <span class="paid-text">Paid: 12</span>
                                    <span class="unpaid-text">UnPaid: 12</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="assets/images/icons/icon-51.svg" alt=""></div>
                                    <p>My Referrals</p>
                                    <span class="paid-text">Paid: 12</span>
                                    <span class="unpaid-text">UnPaid: 12</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 column">
                                <div class="single-item">
                                    <div class="icon-box"><img src="assets/images/icons/icon-52.svg" alt=""></div>
                                    <p>My Referrals</p>
                                    <span class="paid-text">Paid: 12</span>
                                    <span class="unpaid-text">UnPaid: 12</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-content style-two">
                        <div class="title-box">Transaction History</div>
                        <div class="search-box">
                            <div class="search-form">
                                <form method="post" action="#">
                                    <div class="form-group">
                                        <input type="search" name="search-field" placeholder="Search" required>
                                        <button type="submit"><img src="assets/images/icons/icon-53.svg"
                                                alt=""></button>
                                    </div>
                                </form>
                            </div>
                            <div class="filter-button"><button type="button"><img src="assets/images/icons/icon-54.svg"
                                        alt="">Filters</button></div>
                        </div>
                        <div class="dashboard-table">
                            <table id="example">
                                <thead>
                                    <tr>
                                        <th>Customer Name</th>
                                        <th>ID</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start Date</th>
                                        <th>Email</th>
                                        <th>Location</th>
                                        <th>Spent</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-11.png" alt=""></div>
                                                <span class="name">Devon Lane</span>
                                            </div>
                                        </td>
                                        <td>#349586</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>36</td>
                                        <td>2022-03-23</td>
                                        <td class="email"><a href="mailto:devon@gmail.com">devon@gmail.com</a></td>
                                        <td class="location">Philadelphia, USA</td>
                                        <td>$101.02</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-12.png" alt=""></div>
                                                <span class="name">Michel Jack</span>
                                            </div>
                                        </td>
                                        <td>#349500</td>
                                        <td>Engineer</td>
                                        <td>New York</td>
                                        <td>31</td>
                                        <td>2014-03-28</td>
                                        <td class="email"><a href="mailto:jqck2@gmail.com">jqck2@gmail.com</a></td>
                                        <td class="location">Brookly, NY</td>
                                        <td>$254.36</td>
                                        <td class="status"><span class="pending"><img
                                                    src="assets/images/icons/icon-58.svg" alt="">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-13.png" alt=""></div>
                                                <span class="name">Stephen Machmen</span>
                                            </div>
                                        </td>
                                        <td>#340986</td>
                                        <td>Accountant</td>
                                        <td>Canada</td>
                                        <td>39</td>
                                        <td>2023-03-25</td>
                                        <td class="email"><a href="mailto:mekcman@gmail.com">mekcman@gmail.com</a></td>
                                        <td class="location">New Jersey, USA</td>
                                        <td>$1235.25</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-14.png" alt=""></div>
                                                <span class="name">Jonathan Smith</span>
                                            </div>
                                        </td>
                                        <td>#343486</td>
                                        <td>Accountant</td>
                                        <td>Maxico</td>
                                        <td>24</td>
                                        <td>2024-04-15</td>
                                        <td class="email"><a href="mailto:smith05@gmail.com">smith05@gmail.com</a></td>
                                        <td class="location">Edison NJ, USA</td>
                                        <td>$3256.12</td>
                                        <td class="status"><span class="cancel"><img
                                                    src="assets/images/icons/icon-59.svg" alt="">Cancelled</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-15.png" alt=""></div>
                                                <span class="name">Glan Maxwell</span>
                                            </div>
                                        </td>
                                        <td>#349357</td>
                                        <td>Worker</td>
                                        <td>New York</td>
                                        <td>34</td>
                                        <td>2017-03-25</td>
                                        <td class="email"><a href="mailto:maxeee@gmail.com">maxeee@gmail.com</a></td>
                                        <td class="location">Lindin NJ</td>
                                        <td>$325.95</td>
                                        <td class="status"><span class="pending"><img
                                                    src="assets/images/icons/icon-58.svg" alt="">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-16.png" alt=""></div>
                                                <span class="name">Black Stonies</span>
                                            </div>
                                        </td>
                                        <td>#346780</td>
                                        <td>Accountant</td>
                                        <td>Japan</td>
                                        <td>36</td>
                                        <td>2016-02-15</td>
                                        <td class="email"><a href="mailto:stonies@gmail.com">stonies@gmail.com</a></td>
                                        <td class="location">Brooklyn, USA</td>
                                        <td>$364.25</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-17.png" alt=""></div>
                                                <span class="name">Andraw Mark</span>
                                            </div>
                                        </td>
                                        <td>#323586</td>
                                        <td>CEO</td>
                                        <td>China</td>
                                        <td>30</td>
                                        <td>2022-09-12</td>
                                        <td class="email"><a href="mailto:anndrea@gmail.com">anndrea@gmail.com</a></td>
                                        <td class="location">Philadelphia, USA</td>
                                        <td>$1547.25</td>
                                        <td class="status"><span class="cancel"><img
                                                    src="assets/images/icons/icon-59.svg" alt="">Cancelled</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-18.png" alt=""></div>
                                                <span class="name">Adam Smith</span>
                                            </div>
                                        </td>
                                        <td>#349367</td>
                                        <td>Manager</td>
                                        <td>New York</td>
                                        <td>32</td>
                                        <td>2023-07-25</td>
                                        <td class="email"><a href="mailto:adam@gmail.com">adam@gmail.com</a></td>
                                        <td class="location">New Jersey, USA</td>
                                        <td>$345.14</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-11.png" alt=""></div>
                                                <span class="name">Devon Lane</span>
                                            </div>
                                        </td>
                                        <td>#455367</td>
                                        <td>Accountant</td>
                                        <td>Canada</td>
                                        <td>35</td>
                                        <td>2023-03-23</td>
                                        <td class="email"><a href="mailto:devon@gmail.com">devon@gmail.com</a></td>
                                        <td class="location">Philadelphia, USA</td>
                                        <td>$101.02</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-12.png" alt=""></div>
                                                <span class="name">Michel Jack</span>
                                            </div>
                                        </td>
                                        <td>#097586</td>
                                        <td>Founder</td>
                                        <td>California</td>
                                        <td>23</td>
                                        <td>2015-08-27</td>
                                        <td class="email"><a href="mailto:jqck2@gmail.com">jqck2@gmail.com</a></td>
                                        <td class="location">Brookly, NY</td>
                                        <td>$254.36</td>
                                        <td class="status"><span class="pending"><img
                                                    src="assets/images/icons/icon-58.svg" alt="">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-13.png" alt=""></div>
                                                <span class="name">Stephen Machmen</span>
                                            </div>
                                        </td>
                                        <td>#324586</td>
                                        <td>Engineer</td>
                                        <td>Turky</td>
                                        <td>30</td>
                                        <td>2022-03-23</td>
                                        <td class="email"><a href="mailto:mekcman@gmail.com">mekcman@gmail.com</a></td>
                                        <td class="location">New Jersey, USA</td>
                                        <td>$1235.25</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-14.png" alt=""></div>
                                                <span class="name">Jonathan Smith</span>
                                            </div>
                                        </td>
                                        <td>#746586</td>
                                        <td>Manager</td>
                                        <td>UK</td>
                                        <td>29</td>
                                        <td>2020-06-19</td>
                                        <td class="email"><a href="mailto:smith05@gmail.com">smith05@gmail.com</a></td>
                                        <td class="location">Edison NJ, USA</td>
                                        <td>$3256.12</td>
                                        <td class="status"><span class="cancel"><img
                                                    src="assets/images/icons/icon-59.svg" alt="">Cancelled</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-15.png" alt=""></div>
                                                <span class="name">Glan Maxwell</span>
                                            </div>
                                        </td>
                                        <td>#456586</td>
                                        <td>Manager</td>
                                        <td>China</td>
                                        <td>27</td>
                                        <td>2024-12-25</td>
                                        <td class="email"><a href="mailto:maxeee@gmail.com">maxeee@gmail.com</a></td>
                                        <td class="location">Lindin NJ</td>
                                        <td>$325.95</td>
                                        <td class="status"><span class="pending"><img
                                                    src="assets/images/icons/icon-58.svg" alt="">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-16.png" alt=""></div>
                                                <span class="name">Black Stonies</span>
                                            </div>
                                        </td>
                                        <td>#349235</td>
                                        <td>Manager</td>
                                        <td>California</td>
                                        <td>36</td>
                                        <td>2023-08-16</td>
                                        <td class="email"><a href="mailto:stonies@gmail.com">stonies@gmail.com</a></td>
                                        <td class="location">Brooklyn, USA</td>
                                        <td>$364.25</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-17.png" alt=""></div>
                                                <span class="name">Andraw Mark</span>
                                            </div>
                                        </td>
                                        <td>#347686</td>
                                        <td>CEO</td>
                                        <td>Maxico</td>
                                        <td>25</td>
                                        <td>2022-06-12</td>
                                        <td class="email"><a href="mailto:anndrea@gmail.com">anndrea@gmail.com</a></td>
                                        <td class="location">Philadelphia, USA</td>
                                        <td>$1547.25</td>
                                        <td class="status"><span class="cancel"><img
                                                    src="assets/images/icons/icon-59.svg" alt="">Cancelled</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="author-box">
                                                <div class="author-image"><img
                                                        src="assets/images/resource/author-18.png" alt=""></div>
                                                <span class="name">Adam Smith</span>
                                            </div>
                                        </td>
                                        <td>#343566</td>
                                        <td>Manager</td>
                                        <td>USA</td>
                                        <td>32</td>
                                        <td>2023-03-23</td>
                                        <td class="email"><a href="mailto:adam@gmail.com">adam@gmail.com</a></td>
                                        <td class="location">New Jersey, USA</td>
                                        <td>$345.14</td>
                                        <td class="status"><span class="paid"><img src="assets/images/icons/icon-57.svg"
                                                    alt="">Paid</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Dashboard Section End -->



        <!-- Scroll Top -->
        <button class="scroll-top scroll-to-target" data-target="html"><i class="icon-4"></i></button>

    </div>


    <!-- Jequery Plugins List -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/odometer.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/data-table.js"></script>
    <script src="assets/js/datatable.js"></script>

    <!-- Custom Js -->
    <script src="assets/js/custom.js"></script>

</body>
<!-- Boxed Wrapper End -->

</html>