{% extends 'trade/base.html' %}
{% block title %}About{% endblock %}
{% load static %}
{% block content %}

<style>
   @import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #000052;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #000052;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

</style>

<!-- Banner/Slider -->
<div class="page-head section row-vm light has-bg">
   <div class="imagebg">
      <img src="{% static 'trade/frontend_assets/images/team-lefts.jpg' %}" alt="page-head">
   </div>
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h2>About Us</h2>
            <div class="page-breadcrumb">
               <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active"><span>About Us</span></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- #end Banner/Slider -->

<!--Section -->
<div class="section section-pad">
   <div class="container">
      <div class="row row-vm">
         <div class="col-md-5 res-m-bttm">
            <div class="text-block">
               <h2>About Trade With Kennelly</span></h2>
               <p>Kennelly is passionate about protecting and growing the wealth of their clients, 
                  taking care of all their investing requirements. We believe in all terrain investmentmanagement', 
                  which means targeting positive returns in any market environment. 
                  We also believe in a fee structure that truly aligns itself with clients' wealth in real terms. 
                  Trade With Kennelly Freelance Investment Services collectively possess many years of experience in the investment business,combining expertise across a wide spectrum of asset classes,
                  including hedge funds, private equity commodities, as well as more traditional asset classes. Our investment philosophy is simply a diversified investment approach
               </p>
               <ul>
                  <li>Enhanced knowledge.</li>
                  <li>Shared passion.</li>
                  <li>Acts of integrity. </li>
               </ul>
            </div>
         </div>
         <div class="col-md-6 col-md-offset-1">
            <div class="video-block round">
               <img src="{% static 'trade/frontend_assets/images/kennelly.png' %}" alt="photo-md" class="img-shadow">
               <!-- <a href="https://www.youtube.com/watch?v=N6NscwzbMvI" class="video-play"><span -->
                  <!-- <a href="https://www.youtube.com/watch?v=N6NscwzbMvI?modestbranding=1&rel=0&autoplay=1" class="video-play"><span
                  
                  class="pe pe-7s-play"></span></a> -->
            </div>
            <p>ROBERT JAMES KENNELLYABOUT TRADE WITH KENNELLYCPR ®, MBA, CRPC®, APMA®</p>
            <p><strong>CHIEF BROKER</strong></p>
            <p>Trade With Kennelly Freelance Investment Services is a privatized freelance individual broker, Authorized and Regulated by the Financial Industry Regulatory Authority withCRD#: 4733631</p>
         </div>
      </div>
   </div>
</div>
<!--End Section -->
<!--Section -->
<div class="section section-pad bg-grey">
   <div class="container">
      <div class="section-head">
         <div class="row text-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
               <h2 class="heading-section">Why choose Us</h2>
               <p>We put the interests of our clients first, making their goals our goals. This is our ethical and
                  professional obligation - and the right way to act.
               </p>
            </div>
         </div>
      </div>
      <div class="gaps size-3x"></div>
      <div class="row text-center">
         <div class="col-md-4 res-m-bttm-lg">
            <div class="box-alt">
               <div class="image-icon">
                  <img src="{% static 'trade/frontend_assets/images/box-icon-f.png' %}" alt="box-icon">
               </div>
               <h4>Great return rates</h4>
               <p>Our rate of invest and returns are simply the best amongst other investment companies and firms
                  or banks.
               </p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box-alt">
               <div class="image-icon">
                  <img src="{% static 'trade/frontend_assets/images/box-icon-g.png' %}" alt="box-icon">
               </div>
               <h4>Ease of control</h4>
               <p>Our web app and web features are easy to manage and have a pleasurable experience when nativating
                  through.
               </p>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box-alt">
               <div class="image-icon">
                  <img src="{% static 'trade/frontend_assets/images/box-icon-h.png' %}" alt="box-icon">
               </div>
               <h4>Trusted Worldwide</h4>
               <p>It's part of our mission to protect nature with new technologies and have gotten great
                  recognition.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!--End Section -->
<!--Section -->
<div class="section section-pad bg-grey">
   <div class="container">
      <div class="row row-vm">
         <div class="col-md-5">
            <!--<div class="round mgr--30 res-m-bttm"><img src="https://avartechfx.com/frontend_assets/images/team-lefts.jpeg" alt="photo-md" class="img-shadow"></div>-->
            <div class="video-block round">
               <img src="{% static 'trade/frontend_assets/images/post-5.jpg' %}" alt="photo-md" class="img-shadow">
               <!-- <a href="https://www.youtube.com/watch?v=HBLm1SF7m5A" class="video-play"><span
                  class="pe pe-7s-play"></span></a> -->
            </div>
         </div>
         <div class="col-md-6 col-md-offset-1 ">
            <div class="text-block">
               <h2>We Made Everything Seamless For You</h2>
               <p>Trade With Kennelly helps investors diversify their portfolios by including cryptocurrencies as a
                  significant asset class. This diversification strategy not only spreads risk but also offers the
                  potential for high returns in a rapidly evolving digital economy.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<!--End Section -->


<center>
   <h4 style="margin-top: 40px;" >Testimonial</h4>
   <p>What our clients have to say</p>
<figure class="snip1533">
   <figcaption>
     <blockquote>
       <p>I will say I've loved the servicesrendered by Trade With KennellyFreelance Investment Services. 
       I wastreated like one of their biggestcustomers even though I just kickedoff with the minimum $6000.</p>
     </blockquote>
     <h3>WAYNE GRANT</h3>
     <h4>(INVESTOR)</h4>
   </figcaption>
 </figure>
 <figure class="snip1533">
   <figcaption>
     <blockquote>
       <p>I absolutely love Trade With KennellyInvestment Services. When my wifepassed, they set up an investmentaccount for 
       my life insurance benefits,handled the rollover of an oldVanguard 401(k) as well as my wife's401(k) into an inherited IRA account. Ihighly recommend TWK.</p>
     </blockquote>
     <h3>HOWARD FRITZ</h3>
     <h4>(INVESTOR)</h4>
   </figcaption>
 </figure>
 <figure class="snip1533">
   <figcaption>
     <blockquote>
       <p>The financial advice and planningsections were the biggest perk of TradeWith Kennelly Freelance InvestmentServices. Just like most of us, I amjuggling a 
       few goals including savingfor retirement, and I'm glad TWKFreelance Investment Services can helpkeep me on schedule.</p>
     </blockquote>
     <h3>UCIA CLARKE</h3>
     <h4>(INVESTOR)</h4>
   </figcaption>
 </figure>
</center>


<!-- Section -->
<div class="section section-pad cta-section light has-bg dark-filter">
   <div class="imagebg has-parallax">
      <img src="{% static 'trade/frontend_assets/images/bitcoin-side-images.jpg' %}" alt="cta-bg">
   </div>
   <div class="container">
      <div class="row text-center">
         <div class="col-md-8 col-md-offset-2">
            <h3>Are you searching for a quick, safe, and great way to Invest? </h3>
            <a href="{% if user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:sign_in' %}{% endif %}" class="btn btn-md">get Started</a>
         </div>
      </div>
   </div>
</div>




 <script>
  
$(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);
 </script>

{% endblock %}