{% extends 'trade/base.html' %}
{% block title %}FAQ{% endblock %}
{% load static %}
{% block content %}

<!-- Section -->
<div class="section section-pad bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12 res-m-bttm">
                <h4>Frequently Asked <span>Questions</span></h4>
                <!-- Accordion -->
                <div class="panel-group accordion" id="another" role="tablist" aria-multiselectable="true">
                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i1">
                            <h6 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#another" href="#accordion-pane-i1"
                                    aria-expanded="false">
                                    What is Cryptocurrency ?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i1" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="accordion-i1">
                            <div class="panel-body">
                                <p>Cryptocurrency is basically a virtual exchange medium that uses a cryptography in
                                    order to secure its transactions and control the creation of the system units.
                                    Meaning, cryptocurrency simply represents money in the digital marketplace nothing
                                    else. It is based on an open-source software, cryptography and networking. It lets
                                    people or users avoid fees or the lowest fees as compared to what your banks are
                                    charging. The system takes part in the non-cash transactions that is anonymous while
                                    guaranteeing a secure transactions.
                                </p>
                                <p>
                                    use cryptocurrency?
                                    Basically, cryptocurrencies are known for its extreme security and anonymity to the
                                    highest level. Transactions made by this system cannot be reversed nor faked and
                                    compared to what your local bank are doing in its client charging high transaction
                                    fees. In cryptocurrency the fees are to the lowest level, making it reliable than
                                    the conventional currency in the marketplace. Its decentralized nature means they
                                    can be available to everyone, in which banks can only be available to those they
                                    permitted to open accounts.</p>
                            </div>
                        </div>
                    </div>
                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i2">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i2" aria-expanded="false">
                                    How many cryptocurrencies exist in the web?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i2" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i2">
                            <div class="panel-body">
                                <p>
                                    There is no exact number of existing cryptocurrencies exist in the ecosystem, this
                                    is because the code of the cryptocurrency is an open source, this means that anyone
                                    has the chance to create their own version of cryptocurrency by just using the code.
                                    But as to this moment, the estimated cryptocurrencies in the marketplace is about
                                    more than 900, along with the data embedded on them, which can be seen on the list
                                    of registered coins.</p>
                            </div>
                        </div>
                    </div>
                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i3">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i3" aria-expanded="false">
                                    What is a cryptocurrency wallet?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i3" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i3">
                            <div class="panel-body">
                                <p>
                                    This is all about storing a cryptocurrency, wallet concept can be daunting a bit for
                                    the uninitiated. Basically, there are wallet software (this can be desktop, online
                                    or mobile), hardware based wallets, and of course the paper wallets. Talking about
                                    the “best” wallet in the ecosystem will be different for each one of us, it depends
                                    on a particular needs.
                                </p>
                                <p>
                                    Wallets don’t just store cryptocurrency directly. It is accurate to think wallet as
                                    storing private keys. The Public key cryptography allows cryptocurrency to function,
                                    and uses a specific algorithms in order to generate pairs of keys. Public key is the
                                    address to which anyone can send its cryptocurrency balance. The private key allows
                                    owners spend funds from the specified address. Without the private key, public
                                    address becomes bottomless pit that you can only see; money still be sent there, but
                                    lost without a private key.
                                </p>
                                <p>
                                    The type of wallets simply represents various ways a certain can secure their secret
                                    private key. There are two main types of cryptocurrency wallet, the hot and cold,
                                    these refers to the level or internet connectivity of the wallet. Paper wallet and
                                    hardware wallets are not actively connected to internet and considered as cold
                                    storage. Hot wallet is internet connected wallet, easy to spend, but vulnerable to
                                    cyber-attacks. A cold storage protects you from cyber-crime, but still it will be
                                    the owner’s responsibility to secure their property.</p>
                            </div>
                        </div>
                    </div>
                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i4">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i4" aria-expanded="false">
                                    what does the interest rate depends on?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i4" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i4">
                            <div class="panel-body">
                                <p>
                                    With the help of our professional and experience traders, our rate varies weekly as
                                    returns depend on profits made weekly from trading your deposits.
                                </p>
                            </div>
                        </div>
                    </div><!-- end each panel -->
                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i5">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i5" aria-expanded="false">
                                    what are the payout rules, any extra charges?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i5" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i5">
                            <div class="panel-body">
                                <p>We will never ask you for fee on withdrawal and deposit.
                                </p>
                            </div>
                        </div>
                    </div><!-- end each panel -->

                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i6">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i6" aria-expanded="false">
                                    what is the minimum and maximum withdrawal amount?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i6" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i6">
                            <div class="panel-body">
                                <p>The system recognize minimum withdrawal of $500 and above.
                                </p>
                            </div>
                        </div>
                    </div><!-- end each panel -->

                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i7">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i7" aria-expanded="false">
                                    How long does it take to process withdrawal request?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i7" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i7">
                            <div class="panel-body">
                                <p>our system is automated and processes withdrawal within 1 hour to 24hrs maximum.
                                </p>
                            </div>
                        </div>
                    </div><!-- end each panel -->

                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i8">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i8" aria-expanded="false">
                                    How long does our deposits stay in the trading system before we can withdraw it?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i8" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i8">
                            <div class="panel-body">
                                <p>We don’t offer contracts duration, you can withdraw your deposit whenever you want,
                                    however it will take maximum of fourteen trading days as some documents need to be
                                    approved by the management. we have been doing this for the past seven years and
                                    still maintain our standards against all odds.
                                </p>
                            </div>
                        </div>
                    </div><!-- end each panel -->

                    <!-- each panel for accordion -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-i9">
                            <h6 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#another"
                                    href="#accordion-pane-i9" aria-expanded="false">
                                    Can I add more funds after my initial deposit and I felt like increasing my deposit?
                                    <span class="plus-minus"><span></span></span>
                                </a>
                            </h6>
                        </div>
                        <div id="accordion-pane-i9" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="accordion-i9">
                            <div class="panel-body">
                                <p>Yes you can do that. Most investors start with little amount and deposit bigger
                                    amount after testing the system.

                                </P>
                                <!-- <p>
                        These activity are not helping out Bitcoin’s reputation with establishments that was prevalence of using it as major payment services in the digital marketplace, in which customers purchase illegal goods. Whether people uses Bitcoin or not as long as you are doing illegal activities it’s always be illegal. The issue here is the illegality of the activity, whether you paid something in cash, gold, Bitcoin, or any other forms of currency.
                        
                        </P>
                        <p>
                        The legality of these cryptocurrencies, for instance Bitcoin is viewed differently by experts, but one thing that is sure, as long as it is not connected to any illicit activities, then you don’t have to worry about it. These cryptocurrencies do not exist on the list of sanctioned list currencies, its status could somewhat place a user at risk but no violation of any laws.</p> -->
                            </div>
                        </div>
                    </div><!-- end each panel -->
                </div><!-- Accordion #end -->
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

{% endblock %}