{% extends 'trade/base.html' %}
{% block title %}Glossary{% endblock %}
{% load static %}
{% block content %}

<!-- Section -->
<div class="section section-pad">
   <div class="container">
      <div class="row">
         <div class="col-md-12 res-m-bttm">
            <div class="post post-single">
               <h2 class="heading-section text-center">CRYPTO GLOSSARY</h2>
               <div class="post-entry">
                  <p>Bitcoin is a digital currency used for fast, secure and low-cost payments without the need for a central issuer or processor. Bitcoins are stored and sent electronically from private wallets. Introduced in 2009, bitcoins have
                     increased greatly in value due to their limited supply and growing popularity.
                  </p>
                  <p>&nbsp;</p>
                  <p><strong>Address:</strong>&nbsp;&nbsp; A Bitcoin address is&nbsp;similar to a physical address or an email. It is the only information you need to provide for someone to pay you with Bitcoin. An important difference, however,
                     is that each address should only be used for a single transaction.
                  </p>
                  <p><strong>Bit:</strong> A bit is a common unit used to designate a sub-unit of a bitcoin – 1,000,000 bits is equal to 1 bitcoin (BTC or B⃦). This unit is usually more convenient for pricing tips, goods, and services.
                  </p>
                  <p><strong>Bitcoin:</strong> Bitcoin – with capitalization, is used when describing the concept of Bitcoin, or the entire network itself. e.g. “I was learning about the Bitcoin protocol today.”<br> bitcoin – without capitalization,
                     is used to describe bitcoins as a unit of account. e.g. “I sent ten bitcoins today.”; it is also often abbreviated BTC or XBT.
                  </p>
                  <p><strong>Block:</strong> A block is a&nbsp;record in the blockchain that contains and confirms many waiting transactions. Roughly every 10 minutes, on average, a new block including transactions is appended to the&nbsp;block
                     chain&nbsp;through&nbsp;mining. If the blockchain is thought of as a ledger book, a block is like one page from the book.
                  </p>
                  <p><strong>Block Chain:</strong> A digital file distributed to everyone participating in a cryptocurrency network. The blockchain acts as a kind of general ledger, keeping track of all the transactions that happen in the network.
                     Everyone can look at the blockchain to see what transactions have happened on the network, and the blockchain is sealed using cryptography so that no one can tamper with it.
                  </p>
                  <p><strong>Block Reward:&nbsp;</strong> This term refers to the “reward” that the Miner receives for successfully hashing a transaction block.</p>
                  <p><strong>BTC:</strong> BTC is a common unit used to designate one bitcoin (B⃦).</p>
                  <p><strong>Casascius Coins:</strong> Physical collectible coins&nbsp;produced&nbsp;by Mike Caldwell. Each coin contains a&nbsp;private key&nbsp;under a tamper-evident hologram. The name “Casascius” is formed from a phrase “call
                     a spade a spade”, as a response to a name of Bitcoin itself.
                  </p>
                  <p><strong>Cold Storage:</strong> The storage of Bitcoin private keys in any fashion that is disconnected from the internet. Typical cold storage includes USB drives, offline computers, or paper wallets.</p>
                  <p><strong>Confirmation:</strong> Confirmation means that a transaction has been&nbsp;processed by the network and is highly unlikely to be reversed. Transactions receive a confirmation when they are included in a&nbsp;block&nbsp;and
                     for each subsequent block. Even a single confirmation can be considered secure for low-value transactions, although, for larger amounts like 1000 US$, it makes sense to wait for 6 confirmations or more. Each confirmation&nbsp;exponentially&nbsp;decreases
                     the risk of a reversed transaction.
                  </p>
                  <p><strong>Cryptography:</strong> Cryptography is the branch of mathematics that lets us create&nbsp;mathematical proofs that provide high levels of security. Online commerce and banking already use cryptography. In the case of
                     Bitcoin, cryptography is used to make it impossible for anybody to spend funds from another user’s wallet or to corrupt the&nbsp;block chain. It can also be used to encrypt a wallet so that it cannot be used without a password.
                  </p>
                  <p><strong>Cryptocurrency:</strong> This is the generic term used to describe a currency that is purely based on mathematics such as bitcoin.</p>
                  <p><strong>Decentralized:</strong> Without a central authority or controlling party. Bitcoin is a decentralized network of no company, government, or individual is in control of it.</p>
                  <p><strong>Double Spend:</strong> If a malicious user tries to&nbsp;spend their bitcoins to two different recipients at the same time, this is double spending. Bitcoin&nbsp;mining&nbsp;and the&nbsp;block chain&nbsp;are there to
                     create a consensus on the network about which of the two transactions will confirm and be considered valid.
                  </p>
                  <p><strong>Hash:</strong> A cryptographic hash is a mathematical function that takes a file and produces a relatively short code that can be used to identify that file. A hash has a couple of key properties:</p>
                  <ul>
                     <li>It is unique.&nbsp;Only a particular file can produce a particular hash, and two different files will never produce the same hash.</li>
                     <li>It cannot be reversed.&nbsp;You can’t work out what a file was by looking at its hash.</li>
                  </ul>
                  <p>Hashing is used to prove that a set of data has not been tampered with. It is what makes bitcoin mining possible.</p>
                  <p><strong>Halving:</strong> Bitcoins have a finite supply, which makes them scarce. The total amount that will ever be issued is 21 million. The number of Bitcoins generated per block is decreased 50% every four years. This is
                     called “halving.” The final halving will take place in the year 2140.
                  </p>
                  <p><strong>Hash Rate:</strong> The hash rate is the&nbsp;measuring unit of the processing power of the Bitcoin network. The Bitcoin network must make intensive mathematical operations for security purposes. When the network reached
                     a hash rate of 10 Th/s, it meant it could make 10 trillion calculations per second.
                  </p>
                  <p><strong>Ledger:&nbsp;</strong> A physical or electronic log book containing a list of transactions and balances typically involving financial accounts. The Bitcoin blockchain is the first distributed, decentralized, public
                     ledger.
                  </p>
                  <p><strong>Mining:</strong> Bitcoin mining is the process of&nbsp;making computer hardware do mathematical calculations for the Bitcoin network to confirm transactions&nbsp;and increase security. As a reward for their services,
                     Bitcoin miners can collect transaction fees for the transactions they confirm, along with newly created bitcoins. Mining is a specialized and competitive market where the rewards are divided up according to how much calculation
                     is done. Not all Bitcoin users do Bitcoin mining, and it is not an easy way to make money.
                  </p>
                  <p><strong>Multi-Signature:</strong> Also called multi-sig. A bitcoin transaction that requires signatures from multiple parties before it can be executed.</p>
                  <p><strong>Open Source:</strong> Software whose code is made publicly available and that is free to distribute. Bitcoin is an open source project and arguably the first open source money.</p>
                  <p><strong>Paper Wallet:</strong> Some people prefer to store their Bitcoin in the paper wallet – a form of cold storage – in order to improve security. The term simply refers to a printed sheet of paper that holds a number of
                     public bitcoin addresses and corresponding private keys.
                  </p>
                  <p><strong>P2P:</strong> Peer-to-peer refers to&nbsp;systems that work like an organized collective&nbsp;by allowing each individual to interact directly with the others. In the case of Bitcoin, the network is built in such a
                     way that each user is broadcasting the transactions of other users. And, crucially, no bank is required as a third party.
                  </p>
                  <p><strong>Private Key:</strong> A private key is a&nbsp;secret piece of data that proves your right to spend bitcoins from a specific wallet&nbsp;through a cryptographic&nbsp;signature. Your private key(s) are stored in your
                     computer if you use a software wallet; they are stored on some remote servers if you use a web wallet. Private keys must never be revealed as they allow you to spend bitcoins for their respective Bitcoin wallet.
                  </p>
                  <p><strong>Public Key:</strong> The public key is a string of digits and letters (your bitcoin address). When hashed with a corresponding string known as a private key it digitally signs and online communication.</p>
                  <p><strong>QR Code:</strong>&nbsp; A digital representation of a bitcoin public or private key that is easy to scan by digital cameras. QR codes are similar to barcodes found on physical products in that they are a machine-friendly
                     way to embody a piece of data.
                  </p>
                  <p><strong>Signature:</strong> A&nbsp;cryptographic&nbsp;signature is&nbsp;a mathematical mechanism that allows someone to prove ownership. In the case of Bitcoin, a&nbsp;Bitcoin wallet&nbsp;and its&nbsp;private key(s)&nbsp;are
                     linked by some mathematical magic. When your Bitcoin software signs a transaction with the appropriate private key, the whole network can see that the signature matches the bitcoins being spent. However, there is no way
                     for the world to guess your private key to steal your hard-earned bitcoins.
                  </p>
                  <p><strong>Satoshi:</strong> The first name of the Bitcoin’s creator&nbsp;Satoshi Nakamoto&nbsp;and also the name of the smallest unit used in transactions. 1 bitcoin (BTC) is equal to 100 million satoshis.
                  </p>
                  <p><strong>Satoshi Nakamoto:</strong> The inventor of Bitcoin.</p>
                  <p><strong>Transaction Fee:</strong> Some transactions that occur in the bitcoin block chain contain transaction fees. These transaction fees are paid to the miner that hashes the block in question. A typical bitcoin fee amount
                     is .0001 BTC
                  </p>
                  <p><strong>Wallet:</strong> A Bitcoin wallet is loosely&nbsp;the equivalent of a physical wallet on the Bitcoin network. The wallet actually contains your&nbsp;private key(s)&nbsp;which allow you to spend the bitcoins allocated
                     to it in the&nbsp;block chain. Each Bitcoin wallet can show you the total balance of all bitcoins it controls and lets you pay a specific amount to a specific person, just like a real wallet. This is different to credit
                     cards where you are charged by the merchant.
                  </p>
                  <p><strong>XBT:</strong> Informal currency code for 1 Bitcoin (defined as 100 000 000&nbsp;Satoshis). See also&nbsp;BTC.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Section -->


{% endblock %}