{% extends 'trade/base.html' %}
{% load static %}
{% block content %}


<style>
   .carousel_items {
  display: flex;
  wrap: nowrap;
  overflow: hidden;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  height: auto; /* or set a custom height */
  padding: 20vh 0; /* Adjust padding for more space if needed */
  transition: all 0.5s linear;
  background-repeat: no-repeat;
  background-size: contain; /* Ensures the logo doesn't stretch */
  background-position: center; /* Centers the logo */
}

.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
}

.item1 {
  background-image: url("{% static 'wave.jfif' %}");
}
.item2 {
  background-image: url("{% static 'fiac.webp' %}");
}
.item3 {
  background-image: url("{% static 'fitness.webp' %}");
}
.item4 {
  background-image: url("{% static 'micro.jfif' %}");
}

 </style>
 

<!-- Banner/Slider -->
<div id="header" class="banner header-slider">
    <div class="single-slide light row-vm has-bg"
        style="background:url({% static 'trade/frontend_assets/images/couple-investors.jpg' %}); background-size: cover;">
        <div class="container">
            <div class="banner-content">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="animate-bottom delayms5">Invest and safeguard your assets with the services
                            of a reputable <br /><span class="ucap">
                                A DECENTRALISED TRUST COMPANY </span></h1>
                        <p class="lead animate-bottom delayms7">Leverage your capital effectively by
                            diversifying investments across cryptocurrency, commodities, and mutual funds.</p>
                        <ul class="btns animate-bottom delayms9">
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'accounts:investments' %}" class="btn">Get Started</a></li>
                            {% else %}
                            <li><a href="{% url 'accounts:sign_up' %}" class="btn">Get Started</a></li>
                            {% endif %}

                            {% if user.is_authenticated %}
                            <li><a href="{% url 'accounts:dashboard' %}" class="btn btn-outline">Dashboard</a></li>
                            {% else %}
                            <li><a href="{% url 'accounts:sign_in' %}" class="btn btn-outline">Login</a></li>
                            {% endif %}
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-slide light row-vm has-bg"
        style="background-image:url({% static 'trade/frontend_assets/images/team-left.png' %}); background-size: cover;">
        <div class="container">
            <div class="banner-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="animate-bottom delayms5">Cryptocurrency Exchange for Bitcoin Trading.
                            <br /><span class="ucap">YOU CAN TRUST</span>
                        </h1>
                        <p class="lead animate-bottom delayms7">We offer our clients peace of mind and
                            unwavering confidence in navigating the complexities of an ever-evolving world.</p>
                        <ul class="btns animate-bottom delayms9">
                            <li><a href="{% if user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:sign_up' %}{% endif %}" class="btn">Get Started</a></li>
                            <li><a href="{% if user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:sign_in' %}{% endif %}" class="btn btn-outline">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End Banner/Slider -->
<div class="text-center" style="font-weight: bolder;"><h4>TRUSTED BY EXECUTIVES FROM <br>
    THESE COMPANIES AND MANY MORE</h4></div>
<!-- BTC Ticker -->

<div class="carousel-container">
    <div class="carousel_items">
      <div class="carousel_item item1">
        <!-- <p class="carousel_text">Image 1</p> -->
      </div>
      <div class="carousel_item item2">
        <!-- <p class="carousel_text">Image 2</p> -->
      </div>
      <div class="carousel_item item3">
        <!-- <p class="carousel_text">Image 3</p> -->
      </div>
      <div class="carousel_item item4">
        <!-- <p class="carousel_text">Image 4</p> -->
      </div>
      <!-- <div class="carousel_item item5">
        <p class="carousel_text">Image 5</p>
      </div> -->
    </div>
  </div>


<!-- Features Box -->
<div class="features-box section section-pad">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 col-sm-6 res-m-bttm">
                <div class="box box-alt-bg round shadow">
                    <img src="{% static 'trade/frontend_assets/images/box-icon-a.png' %}" alt="box-icon" class="box-icon">
                    <h6 class="ucap">Licensed Investments</h6>
                    <p class="small">We possess all the required licenses to conduct trading operations with our
                        clients' funds.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 res-m-bttm">
                <div class="box box-alt-bg round shadow">
                    <img src="{% static 'trade/frontend_assets/images/box-icon-b.png' %}" alt="box-icon" class="box-icon">
                    <h6 class="ucap">NO HIDDEN FEES</h6>
                    <p class="small">We maintain complete transparency regarding fees, profits, and charges for our
                        services.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 res-m-bttm">
                <div class="box box-alt-bg round shadow">
                    <img src="{% static 'trade/frontend_assets/images/box-icon-c.png' %}" alt="box-icon" class="box-icon">
                    <h6 class="ucap">INSTANT TRADING</h6>
                    <p class="small">Experience hassle-free and instant trading initiation without delays.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="box box-alt-bg round shadow">
                    <img src="{% static 'trade/frontend_assets/images/box-icon-d.png' %}" alt="box-icon" class="box-icon">
                    <h6 class="ucap">SECURED & trusted</h6>
                    <p class="small">Security and customer satisfaction are our top priorities and guiding
                        principles.</p>
                </div>
            </div>
        </div>
    </div>
</div><!--Section -->
<div class="section section-pad bg-grey">
    <div class="container">
        <div class="row row-vm">
            <div class="col-md-5">
                <div class="video-block round">
                    <!-- <img src="{% static 'trade/frontend_assets/images/team-lefts.jpg' %}" alt="photo-md" class="img-shadow">
                    <a href="#video_here" class="video-play"><span class="pe pe-7s-play"></span></a>
                       -->
                       
                    <div id="video-01" class="video-popup">
                        <video preload="false" width="80%" height="240" controls poster="{% static 'trade/frontend_assets/images/team-lefts.jpg' %}">
                            <source src="https://res.cloudinary.com/https-flenzy-herokuapp-com/video/upload/v1726580632/documentation_dud063.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-md-offset-1 ">
                <div class="text-block">
                    <h2>Introduction?</h2>
                    <p>Allow me to express my appreciation for the opportunity to introduce my investment services to you, 
                        and I look forward to being of assistance in helping you meet your financial goals.</p>
                    <p>This investment program is founded on the idea that diversification and asset allocation are the keys to investment success. All too often investors pursue strategies that while steeped in good intentions, 
                            lack the discipline and planning considered vital by many investment professionals to reaching their financial goals. 
                            <br>At the forefront of this investment method is my personal approach in constructing an investment portfolio suited to your needs and a portfolio tracking system developed by an investment professional with over a decade of multifaceted investment experience. 
                            Unlike most investment services that only check your asset allocation targets once every quarter, I monitor every investors' account at least once a day. 
                            The increased volatility of today's markets requires constant monitoring of an investors' 
                            portfolio in order to control risk and increase the likelihood of reaching your financial goals.</p>



                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section -->


<!--Section -->
<div class="section section-pad has-bg light dark-filter">
    <div class="imagebg has-parallax">
        <img src="{% static 'trade/frontend_assets/images/bitcoin-paper.jpg' %}" alt="calc-bg">
    </div>
    <div class="container">
        <div class="row row-vm">
            <div class="col-md-5">
                <div class="text-block">
                    <h2>Currency Calculator</h2>
                    <p>Our payment options are Bitcoin & USDT, so can calculate the rates here on our Avartechfx
                        calculator. USDT is a stable coin that has the same value as the US Dollar ($)</p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="bitcoin-calculator">
                    <script>
                        baseUrl = "https://widgets.cryptocompare.com/";
                        var scripts = document.getElementsByTagName("script");
                        var embedder = scripts[scripts.length - 1];
                        (function () {
                            var appName = encodeURIComponent(window.location.hostname);
                            if (appName == "") { appName = "local"; }
                            var s = document.createElement("script");
                            s.type = "text/javascript";
                            s.async = true;
                            var theUrl = baseUrl + 'serve/v1/coin/converter?fsym=BTC&tsyms=USD,EUR,CNY,GBP';
                            s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                            embedder.parentNode.appendChild(s);
                        })();
                    </script>
                </div>
                <a href="https://www.blockchain.com/" class="btn">Buy now</a>
            </div>
        </div>
    </div>
</div>
<!--End Section -->

<!--Section -->
<div class="section section-pad">
    <div class="container">
        <div class="section-head">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <h2 class="heading-section">We keep your assets safe</h2>
                    <p>Your security and trust are paramount to us. We are unwavering in our commitment to
                        safeguarding your account with the utmost levels of security standards.</p>
                </div>
            </div>
        </div>
        <div class="gaps size-3x"></div>
        <div class="row text-center row-vm">
            <div class="col-md-4 res-m-bttm-lg">
                <div class="box-alt">
                    <span class="pe pe-7s-server"></span>
                    <h4>Payment Options</h4>
                    <p>While we engage in trading various stocks, our primary payment options are Bitcoin, Ethereum and USDT
                        (Tether).</p>
                </div>
                <div class="box-alt">
                    <span class="pe pe-7s-note"></span>
                    <h4>Legal Compliance</h4>
                    <p>We proudly possess all the documented licenses and certifications issued by World Standards,
                        ensuring our commitment to industry excellence and compliance.</p>
                </div>
                <div class="box-alt">
                    <span class="pe pe-7s-airplay"></span>
                    <h4>Covenient Trading</h4>
                    <p>We provide custodianship services to both new and existing clients, with a user-friendly
                        process designed for ease of use.</p>
                </div>
            </div>
            <div class="col-md-4 res-m-bttm-lg">
                <div class="box-alt">
                    <span class="pe pe-7s-lock"></span>
                    <h4>Strong Security</h4>
                    <p>For years now, Avartechfx has securely stored a fortune at our two
                        escrow vaults.</p>
                </div>

                <div class="box-alt">
                    <span class="pe pe-7s-cash"></span>
                    <h4>Competitive Commissions</h4>
                    <p>Recieve the best but fair commissions from time to time.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-alt">
                    <span class="pe pe-7s-global"></span>
                    <h4>World Coverage</h4>
                    <p>Our reach is all over the world, and we have happy customers from over 40+ countries.</p>
                </div>
                <div class="box-alt">
                    <span class="pe pe-7s-graph"></span>
                    <h4>Advanced Reporting</h4>
                    <p>Receive live statistics and information about trading returns on our sleek user interface.
                    </p>
                </div>
                <div class="box-alt">
                    <span class="pe pe-7s-graph1"></span>
                    <h4>Margin Trading</h4>
                    <p>It's our job to sweat the small stuff, we make sure your asset is
                        safeguarded from any fraud while you work.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section -->
<div class="section section-pad bg-grey">
    <div class="container">
        <div class="section-head">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <h2 class="heading-section">How To Get Started</h2>
                    <p>We are dedicated to delivering cutting-edge services in cryptocurrency mining and trading.
                        Our team of professional analysts and experts in the cryptocurrency space work diligently to
                        provide you with stable, reliable, and exceptionally long-term cooperation. The outcome of
                        this collaboration is poised to lead to rapid growth for us and assured profits for you.</p>
                </div>
            </div>
        </div>
        <div class="gaps size-3x"></div>
        <div class="tab-custom tab-custom-two">
            <div class="row">
                <div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
                    <ul class="nav nav-tabs">
                        <li class="active" data-toggle="tab" data-target="#tab1">
                            <div class="steps">
                                <span class="step-number">1</span>
                                <h4>Sign Up</h4>
                                <p>Initiating your investment journey is straightforward; simply create an account
                                    with us. The sign-up process is quick and can be completed in just a few
                                    minutes.</p>
                                <div class="gaps size-1x"></div>
                            </div>
                        </li>
                        <li data-toggle="tab" data-target="#tab2">
                            <div class="steps">
                                <span class="step-number">2</span>
                                <h4>Choose investment plan</h4>
                                <p>Make a choice from the three plans available.</p>
                                <div class="gaps size-1x"></div>
                            </div>
                        </li>
                        <li data-toggle="tab" data-target="#tab3">
                            <div class="steps">
                                <span class="step-number">3</span>
                                <h4>invest</h4>
                                <p>Select and invest in an investment plan with seamless ease, initiating your
                                    journey towards profitability. We encourage you to thoroughly review the profit
                                    options to determine which plan aligns best with your objectives.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-12 col-md-offset-1 text-center">
                    <!-- Tab panes -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--Section -->
<div class="section section-pad bg-grey">
    <div class="container">
        <div class="row row-vm">
            <div class="col-md-5">
                <div id="video-01" class="video-popup">
                    <video preload="false" width="80%" height="240" controls poster="{% static 'trade/frontend_assets/images/team-lefts.jpg' %}">
                        <source src="https://res.cloudinary.com/https-flenzy-herokuapp-com/video/upload/v1726580632/documentation_dud063.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
            <div class="col-md-6 col-md-offset-1 ">
                <div class="text-block">
                    <h2>We Made Everything Seamless For You</h2>
                    <p>TradewithKennellysi helps investors diversify their portfolios by including cryptocurrencies as a
                        significant asset class. This diversification strategy not only spreads risk but also offers
                        the potential for high returns in a rapidly evolving digital economy.</p>



                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section -->
<div class="section section-pad bg-grey">
    <div class="container">
        <div class="row row-vm">
            <div class="col-md-5">
                <!--<div class="round mgr--30 res-m-bttm"><img src="https://avartechfx.com/frontend_assets/images/team-lefts.jpeg" alt="photo-md" class="img-shadow"></div>-->
                <div class="video-block round">
                    <img src="{% static 'trade/frontend_assets/images/ref.jpg' %}" alt="photo-md" class="img-shadow">

                </div>

            </div>
            <div class="col-md-6 col-md-offset-1 ">
                <div class="text-block">
                    <h2>Affiliate Marketing?</h2>
                    <p>Earn commissions through affiliate marketing and strategic partnerships. 
                        Share our platform with others and profit as you build teams, earning a percentage of all fees collected!</p>
				</div>
            </div>
        </div>
    </div>
</div>
<!--End Section -->


 
<!-- Section -->
<div class="section section-pad-sm cta-small light">
    <div class="cta-block">
        <div class="container">
            <div class="row mobile-center">
                <div class="col-md-12">
                    <div class="cta-sameline">
                        <h3>Open account for free and start investing!</h3>
                        <a class="btn btn-outline btn-alt btn-md" href="{% if user.is_authenticated %}{% url 'accounts:dashboard' %}{% else %}{% url 'accounts:sign_in' %}{% endif %}">get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    
 $(".hover").mouseleave(
   function() {
     $(this).removeClass("hover");
   }
 );
  </script>

  <script>
    const carouselItems = document.querySelectorAll(".carousel_item"); 
let i = 1;

setInterval(() => {
// Accessing All the carousel Items
 Array.from(carouselItems).forEach((item,index) => {

   if(i < carouselItems.length){
    item.style.transform = `translateX(-${i*100}%)`
   }
  })


  if(i < carouselItems.length){
    i++;
  }
  else{
    i=0;
  }
},2000)
  </script>


{% endblock %}