{% extends 'trade/base.html' %}
{% block title %}Market Data{% endblock %}
{% load static %}
{% block content %}
<!-- Banner/Slider -->
<div class="page-head section row-vm light has-bg">
   <div class="imagebg">
      <img src="{% static 'trade/frontend_assets/images/team-left.png' %}" alt="page-head">
   </div>
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h2>Market Data</h2>
            <div class="page-breadcrumb">
               <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active"><span>Market Data</span></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- #end Banner/Slider -->

<!--Section -->
<div class="section section-pad bg-grey">
   <div class="container">
      
      <div class="row row-vm">
         <div class="col-md-6">
            <div class="trendingview-chart res-m-bttm">
               <!-- TradingView Widget BEGIN -->
               <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
                      {
                          "width": "100%",
                          "height": "500",
                          "defaultColumn": "overview",
                          "screener_type": "crypto_mkt",
                          "displayCurrency": "USD",
                          "colorTheme": "dark",
                          "locale": "en",
                          "isTransparent": false
                      }
                  </script>
              </div>
               <!-- TradingView Widget END -->
            </div>
         </div>
         <div class="col-md-5 col-md-offset-1 ">
            <div class="text-block">
               <h2>Crypto Chart</h2>
               <p>This is our latest tool for investors, traders and enthusiasts. 
                  This tool displays most of the available crypto assets and sorts them based on the market capitalization. 
                  The key metrics such as the closing price, total and available number of coins, traded volume and price change 
                  percentage are all available at a quick glance.
               </p>
               <p> If you are getting started in cryptocurrency, you can check out our investment glossary.</p>
               <a href="{% url 'glossary' %}" class="btn btn-alt">go to glossary</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!--End Section -->
<!--Section -->
<div class="section section-pad">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-8 col-md-offset-2">
            <div class="text-block">
               <h2>NFP & IEO Stock Charts</h2>
               <p>The NFP report generally affects all major currency pairs, but one of the favorites
                  among traders is the GBP/USD. Because the forex market is open 24 hours a day, all
                  traders have the ability to trade the news event.
               </p>
               <p>This tool allows you to display real-time quotes of the selected currencies in comparison to the other major currencies at a glance.</p>
               <a href="{% url 'glossary' %}" class="btn btn-alt">go to glossary</a>
            </div>
         </div>
      </div>
      <div class="gaps size-2x"></div>
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div class="trendingview-chart">
               <!-- TradingView Widget BEGIN -->
               <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container" style="height:100%;width:100%">
   <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
   <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
   <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
   {
   "autosize": true,
   "symbol": "NASDAQ:AAPL",
   "interval": "D",
   "timezone": "Etc/UTC",
   "theme": "light",
   "style": "1",
   "locale": "en",
   "allow_symbol_change": true,
   "calendar": false,
   "support_host": "https://www.tradingview.com"
 }
   </script>
 </div>
 <!-- TradingView Widget END -->
               <!-- TradingView Widget END -->
            </div>
         </div>
      </div>
   </div>
</div>


{% endblock %}