{% extends 'trade/base.html' %}
{% block title %}Terms{% endblock %}
{% load static %}
{% block content %}

<!-- Section -->
<div class="section section-pad">
   <div class="container">
      
<br>
<div class="container">
   <h5>LEGAL ACTIVITY</h5>

<p align=justify>
   The rules and regulations of Tradewithkennellysi, regulates all matters concerning cooperation, collaboration and business relationships that arise and/or may arise between the Company and the Client either during provision of services by the Company to the Client or under this Agreement and other legal provisions if they are in full compliance with this Agreement.

</p>
</div>
<div class="container">
   <h5>PAYMENTS & WITHDRAWALS</h5>
<p align=justify>

A deposit is considered active if its term has not expired according to the relevant investment plan. The nominal value of all active deposits cannot be withdrawn from the system until the deposits expire. All payments are processed automatically to your wallet account. Sometimes, they may take a bit longer time to get 
processed because of server issues etc, and hence please 
allow up to 1 hour it takes longer time, please kindly 
contact the Support for further assistance.

</p>
</div>

<div class="container">
   <h5>AFFILIATE PROGRAM</h5>
<p align=justify>
   Only the Company's Client can benefit from the Affiliate 
   Program. The Company may at any time change the terms and conditions of the Affiliate Program without prior notice. The Client may create a deposit from his account balance using his referral commission. Referral commission is automatically credited to the 
   account balance of the referrer (Client).

</p>
</div>
<div class="container">
   <h5>LIABILITY</h5>

<p align=justify>

   We reserve the right to change the rules, commissions and rates of the program at any time, especially in order to respect the integrity and security of the members' interests as a whole. You agree that it is your sole responsibility to 
   review the current terms.
</p>
</div>

<div class="container">
   <h5>SAFETY</h5>

<p align=justify>
   • The Company undertakes to ensure safety of work and 
   for this purpose applies modern technologies and 
   services. <br>
   • Company is not responsible if the customer's personal 
   data (username, password, etc.) were given to third 
   parties by his fault. <br> 
   • Each investment shall be a private transaction between 
   our service and a client. <br>
   • Client makes any investments willingly. Therefore, the 
   client has responsibility for the investments.
</p>
</div>

<div class="container">
   <h5>PRIVACY POLICY </h5>

<p align=justify>
   Our company understands the importance of personal information of every participant. Cooperating with our company, you can be sure in privacy of your personal information and in its protection by our employees. Our employees protect the collected by them information from unauthorized access. We use a variety of technologies to reduce the risk of theft of accounts and receiving personal information of our investors. "Personal information" includes such items as: <br>

*Name and Last Name of the investor <br>

*Email of investor <br>

*Contact address of investor <br>

Our company collects your personal information only with your consent and confidence in the security of your personal information on our project. Users should note, that the collection of personal information is only from adult. The rules of our company explain, how your information is collected and used. These rules apply only in our website. Information which is collected when you visit this site. This types of information are also the part of the personal information. Customer information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without the consent of the customer.  
Saving of information is only in our company. Personal information is stored in accordance with the rules of storage and disposal, which are set for archive of our company. To receive your personal information, contact direct with our employees. 
*Contact Information 
Tradewithkennellysi is glad to receive your comments concerning this "Privacy Policy". In case you think that Tradewithkennellysi does not follow the rules and violate this Statement, contact us at support@Tradewithkennellysi.com. We guarantee that we will take commercially reasonable efforts to discover and solve the problem
</p>
</div>

<div class="container">
   <h5>REFUND POLICY </h5>
<p align=justify>

   All refund requests are carefully reviewed if they are made in a timely manner and in accordance with this agreement and the Tradewithkennellysi reserves the right to reject any refund request not supported
   evidence, based on a decision of the technical department, and in accordance with this agreement. Any unresolved complaints or disputes between our clients and Tradewithkennellysi shall be filed to and resolved by a competent court. If any provision of these Terms of Use is ruled invalid by a competent court, the invalidity of such a provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full force and effect. If you make a dispute, Charge back or reverse transactions on your purchases, your account will be suspended immediately. On closure of dispute, we will re-evaluate the situation and may either reinstate your account or terminate your account. The Client agrees that the money transfer sent by Client, is final and cannot be reversed or refunded. The Client agrees that in case, when deposit has been created automatically, funds sent by Client can be used only for deposit creation, and cannot be refunded to the Client.
</p>
</div>

<div class="container">
   <h5>COPYRIGHT</h5>
<p align=justify>
   All design, text, graphics, logos, button icons, images, audio and video clips, their selection and further placement, and all software on the Sites belong to Copyright by Tradewithkennellysi. Tradewithkennellysi is the exclusive owner of all content on Sites. Therefore, its compilation is protected by international copyright laws.
</p>
   </div>
</div>
<!-- End Section -->
</div>

{% endblock %}